nav.ul-drop {
  position: absolute;
  top: 0;
  right: 0;
  direction: rtl;
  width: auto;
  z-index: 99;
}

nav.ul-drop ul {
  padding: 0;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  list-style: none;
  position: relative;
  float: right;
  display: inline-table;
}

nav.ul-drop ul ul {
  display: none;
  position: absolute;
  top: 100%;
  -webkit-box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav.ul-drop ul ul li {
  float: none;
  position: relative;
  white-space: nowrap;
}

nav.ul-drop ul ul li a {
  padding: 6px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

nav.ul-drop ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

nav.ul-drop ul li {
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav.ul-drop ul li:hover {
  background: rgba(255, 255, 255, 0.15);
}

nav.ul-drop ul li:hover > ul {
  display: block;
}

nav.ul-drop ul li a {
  display: block;
  padding: 6px 10px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

html.theme-dark nav.ul-drop ul {
  -webkit-box-shadow: 0 3px 10px -2px rgba(255, 255, 255, 0.1);
          box-shadow: 0 3px 10px -2px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

html.theme-dark nav.ul-drop ul ul {
  -webkit-box-shadow: -3px 3px 10px -2px rgba(255, 255, 255, 0.1);
          box-shadow: -3px 3px 10px -2px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

html.theme-dark nav.ul-drop ul ul li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

html.theme-dark nav.ul-drop ul li:hover {
  background: rgba(0, 0, 0, 0.15);
}

html.theme-dark nav.ul-drop ul li:hover > ul {
  display: block;
}

html.theme-dark nav.ul-drop ul li a {
  color: rgba(255, 255, 255, 0.8);
}

html.theme-dark nav.ul-drop ul li > ul {
  background-color: #373737;
}

html.theme-light nav.ul-drop ul {
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

html.theme-light nav.ul-drop ul ul {
  -webkit-box-shadow: -3px 3px 10px -2px rgba(255, 255, 255, 0.1);
          box-shadow: -3px 3px 10px -2px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

html.theme-light nav.ul-drop ul ul li a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

html.theme-light nav.ul-drop ul li:hover {
  background: rgba(255, 255, 255, 0.15);
}

html.theme-light nav.ul-drop ul li:hover > ul {
  display: block;
}

html.theme-light nav.ul-drop ul li a {
  color: rgba(0, 0, 0, 0.8);
}

html.theme-light nav.ul-drop ul li > ul {
  background-color: #e1e1e1;
}
/*# sourceMappingURL=exf-ul-drop.css.map */