.exf-container.exf-theme-material {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.exf-container.exf-theme-material .exf-label,
.exf-container.exf-theme-material .exf-caption {
  color: var(--color-label);
}

.exf-container.exf-theme-material .exf-cnt {
  border: 0;
}

.exf-container.exf-theme-material .exf-cnt > legend {
  font-size: 1.2rem;
  font-weight: 600;
}

.exf-container.exf-theme-material .exf-nav-cnt .exf-btn {
  margin: 0;
}

.exf-container.exf-theme-material .exf-page {
  margin: 0;
}

.exf-container.exf-theme-material [data-field-type="multiinput"] {
  padding-top: 1rem;
}

.exf-container.exf-theme-material .exf-ctl-cnt {
  position: relative;
  margin-top: 1rem;
}

.exf-container.exf-theme-material .exf-ctl-cnt .exf-ctl {
  text-align: left;
}

.exf-container.exf-theme-material .exf-ctl-cnt:not(.exf-std-lbl) > .exf-ctl > .exf-label {
  position: absolute;
  pointer-events: none;
  top: 0.5em;
  line-height: 1.3;
}

.exf-container.exf-theme-material .exf-ctl-cnt:not(.exf-std-lbl) > .exf-ctl > input {
  color: transparent;
}

.exf-container.exf-theme-material .exf-ctl-cnt .exf-ctl-group {
  padding-top: 2rem;
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-lbl-empty .exf-ctl-group {
  padding-top: 0;
}

.exf-container.exf-theme-material .exf-ctl-cnt > .exf-ctl {
  position: relative;
}

.exf-container.exf-theme-material .exf-ctl-cnt > .exf-ctl::before {
  content: "";
  height: 2px;
  width: 0;
  left: 50%;
  bottom: -2px;
  position: absolute;
  background: #aaa;
  background: var(--color-input-shade);
  -webkit-transition: left 0.5s ease, width 0.5s ease;
  transition: left 0.5s ease, width 0.5s ease;
  z-index: 2;
}

.exf-container.exf-theme-material .exf-ctl-cnt > .exf-ctl > [name] {
  width: 100%;
}

.exf-container.exf-theme-material .exf-ctl-cnt > .exf-ctl > select {
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  margin-top: 0.15rem;
  background: none;
  border: none;
  line-height: 1.6;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.exf-container.exf-theme-material .exf-ctl-cnt > .exf-ctl > [name]:focus {
  outline: none;
  border: 0;
}

.exf-container.exf-theme-material .exf-ctl-cnt > .exf-ctl > input,
.exf-container.exf-theme-material .exf-ctl-cnt > .exf-ctl > label {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 400;
}

.exf-container.exf-theme-material .exf-ctl-cnt > .exf-ctl > input,
.exf-container.exf-theme-material .exf-ctl-cnt > .exf-ctl > textarea {
  font-size: 1rem;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border: 0;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
}

.exf-container.exf-theme-material .exf-ctl-cnt > .exf-ctl > input::-webkit-input-placeholder,
.exf-container.exf-theme-material .exf-ctl-cnt > .exf-ctl > textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  visibility: hidden;
}

.exf-container.exf-theme-material .exf-ctl-cnt > .exf-ctl > input::-moz-placeholder,
.exf-container.exf-theme-material .exf-ctl-cnt > .exf-ctl > textarea::-moz-placeholder {
  /* Firefox 19+ */
  visibility: hidden;
}

.exf-container.exf-theme-material .exf-ctl-cnt > .exf-ctl > input:-ms-input-placeholder,
.exf-container.exf-theme-material .exf-ctl-cnt > .exf-ctl > textarea:-ms-input-placeholder {
  /* IE 10+ */
  visibility: hidden;
}

.exf-container.exf-theme-material .exf-ctl-cnt > .exf-ctl > input:-moz-placeholder,
.exf-container.exf-theme-material .exf-ctl-cnt > .exf-ctl > textarea:-moz-placeholder {
  /* Firefox 18- */
  visibility: hidden;
}

.exf-container.exf-theme-material .exf-ctl-cnt > .exf-ctl input[type="color"] {
  min-height: 1rem;
  padding: 0;
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-focus > .exf-ctl input,
.exf-container.exf-theme-material .exf-ctl-cnt.exf-focus > .exf-ctl textarea {
  color: var(--color);
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-focus > .exf-ctl input::-webkit-input-placeholder,
.exf-container.exf-theme-material .exf-ctl-cnt.exf-focus > .exf-ctl textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  visibility: visible;
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-focus > .exf-ctl input::-moz-placeholder,
.exf-container.exf-theme-material .exf-ctl-cnt.exf-focus > .exf-ctl textarea::-moz-placeholder {
  /* Firefox 19+ */
  visibility: visible;
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-focus > .exf-ctl input:-ms-input-placeholder,
.exf-container.exf-theme-material .exf-ctl-cnt.exf-focus > .exf-ctl textarea:-ms-input-placeholder {
  /* IE 10+ */
  visibility: visible;
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-focus > .exf-ctl input:-moz-placeholder,
.exf-container.exf-theme-material .exf-ctl-cnt.exf-focus > .exf-ctl textarea:-moz-placeholder {
  /* Firefox 18- */
  visibility: visible;
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-focus > .exf-ctl > .exf-label {
  color: var(--color-label-active);
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-focus.exf-input > .exf-ctl::before {
  width: 100%;
  background: #c46;
  background: var(--color-input-shade-focus);
  left: 0;
  -webkit-transition: left 0.5s ease, width 0.5s ease;
  transition: left 0.5s ease, width 0.5s ease;
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-input > .exf-ctl, .exf-container.exf-theme-material .exf-ctl-cnt[data-field-type="dropdown"] > .exf-ctl {
  border-bottom: 1px solid #666;
  border-bottom: 1px solid var(--color-input-shade);
  padding-bottom: 0;
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-input:not(.exf-std-lbl).exf-filled > .exf-ctl input,
.exf-container.exf-theme-material .exf-ctl-cnt.exf-input:not(.exf-std-lbl).exf-filled > .exf-ctl textarea, .exf-container.exf-theme-material .exf-ctl-cnt.exf-input:not(.exf-std-lbl).exf-focus > .exf-ctl input,
.exf-container.exf-theme-material .exf-ctl-cnt.exf-input:not(.exf-std-lbl).exf-focus > .exf-ctl textarea, .exf-container.exf-theme-material .exf-ctl-cnt[data-field-type="dropdown"]:not(.exf-std-lbl).exf-filled > .exf-ctl input,
.exf-container.exf-theme-material .exf-ctl-cnt[data-field-type="dropdown"]:not(.exf-std-lbl).exf-filled > .exf-ctl textarea, .exf-container.exf-theme-material .exf-ctl-cnt[data-field-type="dropdown"]:not(.exf-std-lbl).exf-focus > .exf-ctl input,
.exf-container.exf-theme-material .exf-ctl-cnt[data-field-type="dropdown"]:not(.exf-std-lbl).exf-focus > .exf-ctl textarea {
  color: var(--color);
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-input:not(.exf-std-lbl).exf-filled > .exf-ctl > .exf-label, .exf-container.exf-theme-material .exf-ctl-cnt.exf-input:not(.exf-std-lbl).exf-focus > .exf-ctl > .exf-label, .exf-container.exf-theme-material .exf-ctl-cnt[data-field-type="dropdown"]:not(.exf-std-lbl).exf-filled > .exf-ctl > .exf-label, .exf-container.exf-theme-material .exf-ctl-cnt[data-field-type="dropdown"]:not(.exf-std-lbl).exf-focus > .exf-ctl > .exf-label {
  top: -1.2em;
  left: 0;
  font-size: 0.8rem;
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-input.exf-rng-output output, .exf-container.exf-theme-material .exf-ctl-cnt[data-field-type="dropdown"].exf-rng-output output {
  position: absolute;
  top: -1.2em;
  font-size: 0.8rem;
  right: 1rem;
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-input.exf-std-lbl > .exf-ctl > .exf-label, .exf-container.exf-theme-material .exf-ctl-cnt[data-field-type="dropdown"].exf-std-lbl > .exf-ctl > .exf-label {
  position: absolute;
  top: -1.2em;
  left: 0;
  font-size: 0.8rem;
}

.exf-container.exf-theme-material .exf-ctl-cnt .exf-help {
  margin-top: 0.2rem;
  color: var(--color-text);
  font-size: 0.8rem;
}

.exf-container.exf-theme-material .exf-ctl-cnt .exf-help:before {
  content: "i";
  background-color: #666;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  color: white;
  border-radius: 1rem;
  margin-right: 0.2rem;
}

.exf-container.exf-theme-material .exf-ctl-cnt .exf-help.exf-help-error:before, .exf-container.exf-theme-material .exf-ctl-cnt .exf-help.exf-help-invalid:before {
  content: "!";
  background-color: #cc4444;
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-invalid .exf-help {
  margin-top: 0.2rem;
  color: var(--color-text);
  font-size: 0.8rem;
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-invalid .exf-help:before {
  content: "i";
  background-color: #666;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  color: white;
  border-radius: 1rem;
  margin-right: 0.2rem;
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-invalid .exf-help.exf-help-error:before, .exf-container.exf-theme-material .exf-ctl-cnt.exf-invalid .exf-help.exf-help-invalid:before {
  content: "!";
  background-color: #cc4444;
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-nmbr-btns .exf-ctl > .nmbr-m {
  float: left;
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-nmbr-btns .exf-ctl > .nmbr-p {
  float: right;
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-switch > .exf-ctl > label {
  position: absolute !important;
  top: -.1rem !important;
  left: 3.5em !important;
  font-size: 1rem !important;
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-base-embed > .exf-ctl > label {
  margin-top: -2rem;
}

.exf-container.exf-theme-material .exf-ctl-cnt.exf-base-embed > .exf-ctl > .exf-embed-container {
  margin-top: 3rem;
}

.exf-container.exf-theme-material .exf-input-group > .exf-ctl .exf-caption-main {
  color: var(--color-text);
  margin-bottom: 0.8rem;
}

.exf-container.exf-theme-material .exf-input-group > .exf-ctl .exf-caption-description {
  font-size: 0.8rem;
  color: var(--color-label);
}

.exf-container.exf-theme-material .exf-input-group.tiles > .exf-ctl > div {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.exf-container.exf-theme-material .exf-input-group.tiles > .exf-ctl > div .exf-ilc-cnt {
  opacity: 0.8;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

.exf-container.exf-theme-material .exf-input-group.tiles > .exf-ctl > div .exf-ilc-cnt:hover {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.exf-container.exf-theme-material .exf-input-group.tiles > .exf-ctl > div .exf-ilc-cnt > input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  cursor: pointer;
}

.exf-container.exf-theme-material .exf-input-group.tiles > .exf-ctl > div .exf-ilc-cnt > .exf-caption {
  padding: 1rem;
}

.exf-container.exf-theme-material .exf-input-group.tiles > .exf-ctl > div .exf-ilc-cnt > .exf-caption > .exf-caption-main {
  color: var(--color-text);
}

.exf-container.exf-theme-material .exf-input-group.tiles > .exf-ctl > div .exf-ilc-cnt > .exf-caption > .exf-caption-description {
  font-size: 0.8rem;
  color: var(--color-label);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.exf-container.exf-theme-material .exf-input-group.tiles > .exf-ctl > div .exf-ilc-cnt > input:checked + .exf-caption {
  border: 2px solid var(--color-button);
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.exf-container.exf-theme-material .exf-input-group.tiles > .exf-ctl > div .exf-ilc-cnt > input:checked + .exf-caption > label {
  color: white;
  background-color: #fff;
}

.exf-container.exf-theme-material .exf-input-group.tiles.big > .exf-ctl > div .exf-ilc-cnt > .exf-caption > .exf-caption-description {
  white-space: normal;
}

.exf-container.exf-theme-material .exf-input-group.tiles.small > .exf-ctl > div {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 1fr) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(70px, auto);
  grid-gap: 2em;
}

.exf-container.exf-theme-material .exf-input-group.tiles.small > .exf-ctl > div .exf-ilc-cnt > .exf-caption {
  padding: .2rem;
  width: auto;
}

.exf-container.exf-theme-material .exf-input-group.tiles.small > .exf-ctl > div .exf-ilc-cnt > .exf-caption > .exf-caption-description {
  display: none;
}

.exf-container.exf-theme-material .exf-btn-cnt {
  text-align: center;
}

.exf-container.exf-theme-material .exf-btn {
  position: relative;
  background: var(--color-button);
  border: 0;
  font-size: 1.1rem;
  color: white;
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, -webkit-box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, -webkit-box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease, -webkit-box-shadow 0.28s ease;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.exf-container.exf-theme-material .exf-btn-compact {
  padding: 0.5rem 0.5rem;
}

.exf-container.exf-theme-material .exf-btn span {
  color: var(--color-button-text);
  position: relative;
  z-index: 1;
}

.exf-container.exf-theme-material .exf-btn::before {
  content: "";
  position: absolute;
  background: #999999;
  border: 50vh solid #cccccc;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.exf-container.exf-theme-material .exf-btn:hover:not(:disabled) {
  color: #fff;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.exf-container.exf-theme-material .exf-btn:active::before, .exf-container.exf-theme-material .exf-btn:focus::before {
  -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}

.exf-container.exf-theme-material .exf-btn:focus {
  outline: none;
}

.exf-container.exf-theme-material .exf-btn:disabled {
  background-color: var(--color-button-disabled);
}
/*# sourceMappingURL=exf-material.css.map */