.exf-container [class^="exf-cols-"],
.exf-container [class*=" exf-cols-"] {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 10px;
}

.exf-container [class^="exf-cols-"] .exf-ctl-cnt.exf-base-text > input[name],
.exf-container [class*=" exf-cols-"] .exf-ctl-cnt.exf-base-text > input[name] {
  width: auto !important;
}

.exf-container .exf-required:not(.exf-lbl-empty) > .exf-ctl > label::after {
  position: absolute;
  margin-left: 0.2rem;
  margin-top: -0.2rem;
  content: " *";
  color: inherit;
  color: var(--color-label-active);
  vertical-align: super;
}

.exf-container .exf-cnt.exf-ctl-group.grid .exf-ctl-cnt > [name] {
  width: 100%;
}

.exf-container .exf-wrapper {
  height: 100%;
}

.exf-container .exf-wrapper .exf-page {
  display: none;
}

.exf-container .exf-wrapper .exf-page.active {
  display: block;
}

.exf-container .exf-embed-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25% !important;
  /* 16:9*/
}

.exf-container .exf-embed-container.ar-4x3 {
  padding-top: 75% !important;
  /* 4:3 */
}

.exf-container .exf-embed-container > iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.exf-container .exf-info {
  -webkit-box-shadow: -3px 3px 10px -2px rgba(255, 255, 255, 0.1);
          box-shadow: -3px 3px 10px -2px rgba(255, 255, 255, 0.1);
  padding: 1em;
}

.exf-container .exf-disabled {
  pointer-events: none;
  opacity: 0.6;
}

.exf-container .exf-nav-cnt {
  clear: both;
  margin: 0;
}

.exf-container .exf-nav-cnt > .exf-ctl-cnt {
  display: inline-block;
  margin-right: 0.6rem;
}

.exf-container.single-page .exf-page {
  display: block;
}

.exf-container.single-page .exf-nav-cnt [name="prev"],
.exf-container.single-page .exf-nav-cnt [name="next"] {
  display: none;
}

.exf-container .exf-hidden {
  display: none !important;
}

.exf-container .exf-error {
  display: inline-block;
  padding: 0.2em;
  margin-top: 2rem;
  color: red;
  border: 1px solid red;
}

.exf-container .exf-input-group:not(.tiles) .exf-ilc-cnt {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 1fr;
      grid-template-columns: 30px 1fr;
}

.exf-container .exf-page {
  padding-top: 1rem;
}

.exf-container .exf-page > .exf-ctl-cnt {
  position: relative;
  margin-bottom: 2em;
}

.exf-container .exf-page > .exf-ctl-cnt .exf-label {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.exf-container .exf-page > .exf-ctl-cnt .exf-ctl-cnt {
  margin-bottom: 1em;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-lbl-empty .exf-label {
  display: none !important;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-rng-output output {
  display: inline-block;
  vertical-align: text-top;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-nmbr-btns > .exf-ctl {
  text-align: center;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-nmbr-btns > .exf-ctl > [name] {
  width: auto !important;
  min-width: 50px;
  margin: auto;
  text-align: center;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-nmbr-btns > .exf-ctl > input::-webkit-outer-spin-button,
.exf-container .exf-page > .exf-ctl-cnt.exf-nmbr-btns > .exf-ctl > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-nmbr-btns > .exf-ctl > .nmbr-m,
.exf-container .exf-page > .exf-ctl-cnt.exf-nmbr-btns > .exf-ctl > .nmbr-p {
  outline: none;
  display: inline-block;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-nmbr-btns > .exf-ctl > .exf-label {
  top: -1.7em !important;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-input-group {
  margin-top: 1rem;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-input-group > .exf-ctl > div {
  padding-top: 1rem;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-input-group > .exf-ctl > div .exf-ilc-cnt {
  margin-bottom: 1rem;
  display: block;
  width: 100%;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-input-group > .exf-ctl > div .exf-ilc-cnt > input {
  float: left;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-input-group > .exf-ctl > div .exf-ilc-cnt .exf-caption {
  padding-left: 1rem;
  display: inline-block;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-input-group > .exf-ctl > div .exf-ilc-cnt .exf-caption .exf-caption-description {
  font-size: 0.8rem;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-input-group .exf-ctl > div {
  clear: both;
  margin: auto;
  white-space: normal;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-input-group .exf-ctl > div > label {
  display: inline-block;
  width: 30%;
  overflow: hidden;
  padding: 5px;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-input-group .exf-ctl > div > label > input {
  width: 30px;
  height: auto;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-input-group .exf-ctl > div > label > .exf-caption {
  display: inline-block;
  height: auto;
  width: calc(100% - 70px);
  vertical-align: text-top;
  padding: 0.2rem 0.4rem 0.2rem 0.1rem;
  margin-right: 1rem;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-input-group .exf-ctl > div > label > .exf-caption .exf-caption-description {
  height: 5em;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-input-group .exf-ctl > div > label > .exf-caption .exf-caption-description:empty {
  height: 0;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-input-group .exf-ctl.block > div > label {
  display: block;
  width: auto;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-input-group[data-field-type="checkbox"] {
  padding: 0 !important;
  margin: 0 !important;
  margin-top: -1rem !important;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-input-group[data-field-type="checkbox"] .exf-ctl {
  padding: 0;
  margin: 0;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-input-group[data-field-type="checkbox"] .exf-ctl > div {
  padding: 0 !important;
  margin: 0 !important;
}

.exf-container .exf-page > .exf-ctl-cnt.exf-input-group[data-field-type="checkbox"] .exf-ctl > div .exf-ilc-cnt {
  padding: 0 !important;
  margin: 0 !important;
}

.exf-container .exf-page > .exf-ctl-cnt .exf-ctl.autogrow {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: -ms-grid;
  display: grid;
}

.exf-container .exf-page > .exf-ctl-cnt .exf-ctl.autogrow::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";
  /* This is how textarea text behaves */
  white-space: pre-wrap;
  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}

.exf-container .exf-page > .exf-ctl-cnt .exf-ctl.autogrow textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;
  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}

.exf-container .exf-page > .exf-ctl-cnt .exf-ctl.autogrow textarea, .exf-container .exf-page > .exf-ctl-cnt .exf-ctl.autogrow::after {
  /* Identical styling required!! */
  font: inherit;
  /* Place on top of each other */
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.exf-container .exf-info {
  font-size: 1.1rem;
  background-color: var(--color-shade, #bfcadb);
  background-color: var(--color-shade, #bfcadb);
  padding: 0em 1em 1em;
  border: 1px solid var(--button-shadow-color);
  position: relative;
}

.exf-container .exf-info .exf-info-title {
  font-size: 1.4rem;
}

.exf-container .exf-info .exf-info-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.exf-container .exf-info .exf-info-body {
  font-size: 1rem;
}

.exf-container .exf-info.hero {
  margin: 2em;
  font-size: 1.4rem;
}

.exf-container .exf-info.hero .exf-info-title {
  font-size: 2rem;
}

.exf-container .exf-cols-10em-1fr {
  -ms-grid-columns: 10em 1fr;
      grid-template-columns: 10em 1fr;
}

.exf-container .exf-cols-20em-1fr {
  -ms-grid-columns: 20em 1fr;
      grid-template-columns: 20em 1fr;
}

.exf-container .exf-cols-50-50 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.exf-container .exf-cols-20-60-20 {
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
}

.exf-container .exf-cols-40-60 {
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.exf-container .exf-cols-10em-10em {
  -ms-grid-columns: 10em 10em;
      grid-template-columns: 10em 10em;
}

.exf-container .exf-cols-20em-20em-1fr {
  -ms-grid-columns: 20em 20em 1fr;
      grid-template-columns: 20em 20em 1fr;
}

.exf-container .exf-txt-psx {
  position: relative;
}

.exf-container .exf-txt-psx.prefix input {
  padding-left: 2rem !important;
}

.exf-container .exf-txt-psx.suffix input {
  padding-right: 2rem !important;
}

.exf-container .exf-txt-psx .exf-txt-psx-span {
  position: absolute;
  top: 0.45rem;
}

.exf-container .exf-txt-psx .exf-txt-psx-span.icon {
  top: 0.65rem;
  left: 0.5rem;
}

.exf-container .exf-txt-psx .exf-txt-psx-span.field {
  top: -0.2rem;
}

.exf-container .exf-txt-psx .exf-txt-psx-span.prefix {
  left: 0.5rem;
}

.exf-container .exf-txt-psx .exf-txt-psx-span.suffix {
  right: 0.5rem;
  left: unset;
}

.exf-container .exf-txt-psx .exf-txt-psx-span > .exf-ctl-cnt {
  padding: 0;
  margin: 0;
}

.exf-container .exf-txt-psx .exf-txt-psx-span > .exf-ctl-cnt .exf-btn {
  padding: 0.1rem 0.2rem;
}

.exf-container .exf-img-xs {
  max-width: 500px;
}

.exf-container .exf-img-sm {
  max-width: 800px;
}

.exf-container .exf-img-lg {
  max-width: 1024x;
}

.exf-sandbox {
  border: 0;
  overflow: visible;
}

[data-field-type="image"] img {
  min-height: 50px;
}

[data-field-type="image"] img:before {
  content: " ";
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  height: calc(100% + 10px);
  width: 100%;
  background-color: #e6e6e6;
  border: 2px dotted #c8c8c8;
  border-radius: 5px;
}

[data-field-type="image"] img:after {
  content: "\e633";
  display: block;
  font-size: 16px;
  font-style: normal;
  font-family: themify;
  color: #646464;
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}
/*# sourceMappingURL=exf-functional.css.map */