.exf-container.exf-theme-fluent {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.exf-container.exf-theme-fluent .exf-cnt {
  border: 0;
}

.exf-container.exf-theme-fluent .exf-cnt > legend {
  font-size: 1.2rem;
  font-weight: 600;
}

.exf-container.exf-theme-fluent .exf-ctl-cnt {
  border: 1px solid transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  min-height: 2.525rem;
  height: auto;
  padding: 2rem 0.5rem 0.5rem;
  line-height: 1;
}

.exf-container.exf-theme-fluent .exf-ctl-cnt .exf-ctl-cnt {
  padding-left: 0;
  margin: 0;
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl [name] {
  outline: none;
  width: 100%;
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl input,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl textarea,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl select {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid var(--field-box-shadow-subtle);
  height: 2rem;
  padding: 0.3125rem;
  z-index: 0;
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl input ::-webkit-input-placeholder,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl textarea ::-webkit-input-placeholder,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl select ::-webkit-input-placeholder {
  opacity: 0.6;
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl input :-ms-input-placeholder,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl textarea :-ms-input-placeholder,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl select :-ms-input-placeholder {
  opacity: 0.6;
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl input ::-ms-input-placeholder,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl textarea ::-ms-input-placeholder,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl select ::-ms-input-placeholder {
  opacity: 0.6;
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl input ::placeholder,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl textarea ::placeholder,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl select ::placeholder {
  opacity: 0.6;
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl textarea {
  width: 100%;
  min-height: 6em;
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl select {
  min-width: 15rem;
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl input[type="color"],
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl [type="date"],
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl [type="time"],
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl [type="datetime"],
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl [type="datetime-local"] {
  min-width: 3rem;
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl.exf-nmbr-btns .exf-input > .nmbr-m,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl.exf-nmbr-btns .exf-input > .nmbr-p {
  height: 2.7rem;
  width: 2rem;
  padding: 0.3125rem;
  border: 1px solid var(--field-box-shadow-subtle);
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl input:focus,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl textarea:focus,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl select:focus,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl input:hover,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl textarea:hover,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl select:hover,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl .exf-btn:hover {
  border-color: var(--field-box-shadow);
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl input:disabled,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl textarea:disabled,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl select:disabled {
  background-color: var(--color-disabled);
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl input:-moz-read-only,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl textarea:-moz-read-only,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl select:-moz-read-only {
  background-color: var(--color-readonly);
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl input:read-only,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl textarea:read-only,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl select:read-only {
  background-color: var(--color-readonly);
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl > label {
  position: absolute;
  top: 0.5rem;
  left: 0;
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl [type="radio"],
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl [type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 20px;
  height: 20px;
  border: solid 1px #cccccc;
  margin-right: 8px;
  position: relative;
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl [type="radio"]:checked::before, .exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl [type="radio"]:checked::before,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl [type="checkbox"]:checked::before,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl [type="checkbox"]:checked::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: var(--color-button);
  position: absolute;
  top: 2px;
  left: 2px;
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl [type="radio"]:checked::before,
.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl [type="checkbox"]:checked::before {
  border-radius: 100%;
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl [type="radio"] {
  border-radius: 100%;
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl select {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: var(--color-background);
  border: 1px solid var(--field-box-shadow-subtle);
  background-image: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 3rem;
  padding: 0.3125rem;
  cursor: pointer;
  /* Remove IE arrow */
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl select::-ms-expand {
  display: none;
}

.exf-container.exf-theme-fluent .exf-ctl-cnt > .exf-ctl.exf-rng-output output {
  padding: 0.375rem;
  border: 1px solid var(--color-shade);
  border-radius: 1em;
  background-color: var(--color-background-variation);
  margin-left: 1em;
  margin-top: -1.7em;
}

.exf-container.exf-theme-fluent .exf-help-wrapper {
  font-size: smaller;
}

.exf-container.exf-theme-fluent .exf-help-wrapper .exf-help.exf-help-invalid {
  border-color: #cc3344;
}

.exf-container.exf-theme-fluent .exf-input-group label > .exf-caption {
  display: inline-block;
  height: auto;
  vertical-align: text-bottom;
  padding: 0.2rem 0.4rem 0.2rem 0.1rem;
  margin-right: 1rem;
}

.exf-container.exf-theme-fluent .exf-input-group label > .exf-caption .exf-caption-description {
  font-size: 0.9rem;
}

.exf-container.exf-theme-fluent .exf-input-group label > .exf-caption .exf-caption-main {
  margin-bottom: 0.4em;
  margin-top: -0.4em;
  font-weight: bold;
}

.exf-container.exf-theme-fluent .exf-btn {
  -webkit-appearance: button;
  cursor: pointer;
  padding: 1rem 2rem;
  text-align: center;
  background-color: var(--color-button);
  border: 1px var(--color-shade) solid;
  color: var(--color-buttontext);
  display: inline-block;
  outline: none;
  font-size: 0.875rem;
  margin: 0.15625rem 0;
  position: relative;
  vertical-align: middle;
}

.exf-container.exf-theme-fluent .exf-btn:active {
  background: #eeeeee;
  color: #262626;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.exf-container.exf-theme-fluent .exf-btn:hover {
  border-color: #787878;
}

.exf-container.exf-theme-fluent .exf-btn.primary {
  background-color: var(--color-button-primary);
}
/*# sourceMappingURL=exf-fluent.css.map */