.exf-container [class^="exf-cols-"], .exf-container [class*=" exf-cols-"] {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 10px;
}

.exf-container [class^="exf-cols-"] .exf-ctl-cnt.exf-base-text > input[name], .exf-container [class*=" exf-cols-"] .exf-ctl-cnt.exf-base-text > input[name] {
  width: auto !important;
}

.exf-container .exf-cols-10em-1fr {
  -ms-grid-columns: 10em 1fr;
      grid-template-columns: 10em 1fr;
}

.exf-container .exf-cols-20em-1fr {
  -ms-grid-columns: 20em 1fr;
      grid-template-columns: 20em 1fr;
}

.exf-container .exf-cols-50-50 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.exf-container .exf-cols-20-60-20 {
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
}

.exf-container .exf-cols-40-60 {
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.exf-container .exf-cols-10em-10em {
  -ms-grid-columns: 10em 10em;
      grid-template-columns: 10em 10em;
}

.exf-container .exf-wrapper {
  height: 100%;
}

.exf-container .exf-wrapper .exf-page {
  display: none;
}

.exf-container .exf-wrapper .exf-page.active {
  display: block;
}

.exf-container .exf-nav-cnt {
  clear: both;
}

.exf-container.single-page .exf-page {
  display: block;
}

.exf-container.single-page .exf-nav-cnt [name="prev"],
.exf-container.single-page .exf-nav-cnt [name="next"] {
  display: none;
}

.exf-container .exf-error {
  display: inline-block;
  padding: .2em;
  color: red;
  border: 1px solid red;
}

.exf-container .exf-ctl-cnt {
  position: relative;
  margin-bottom: 1em;
}

.exf-container .exf-ctl-cnt.exf-input-group > div {
  clear: both;
  margin: auto;
  white-space: normal;
}

.exf-container .exf-ctl-cnt.exf-input-group > div > label {
  display: inline-block;
  width: 33%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
}

.exf-container .exf-ctl-cnt.exf-input-group > div > label > input {
  width: 30px;
  height: auto;
}

.exf-container .exf-ctl-cnt.exf-input-group.block > div > label {
  display: block;
  width: auto;
}

nav.ul-drop {
  position: absolute;
  top: 0;
  right: 0;
  direction: rtl;
  width: auto;
  z-index: 99;
}

nav.ul-drop ul {
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  list-style: none;
  position: relative;
  float: right;
  display: inline-table;
}

nav.ul-drop ul ul {
  display: none;
  position: absolute;
  top: 100%;
  -webkit-box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav.ul-drop ul ul li {
  float: none;
  position: relative;
}

nav.ul-drop ul ul li a {
  padding: 6px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

nav.ul-drop ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

nav.ul-drop ul li {
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav.ul-drop ul li:hover {
  background: rgba(255, 255, 255, 0.15);
}

nav.ul-drop ul li:hover > ul {
  display: block;
}

nav.ul-drop ul li a {
  display: block;
  padding: 6px 10px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

html.theme-dark nav.ul-drop ul {
  -webkit-box-shadow: 0 3px 10px -2px rgba(255, 255, 255, 0.1);
          box-shadow: 0 3px 10px -2px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

html.theme-dark nav.ul-drop ul ul {
  -webkit-box-shadow: -3px 3px 10px -2px rgba(255, 255, 255, 0.1);
          box-shadow: -3px 3px 10px -2px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

html.theme-dark nav.ul-drop ul ul li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

html.theme-dark nav.ul-drop ul li:hover {
  background: rgba(0, 0, 0, 0.15);
}

html.theme-dark nav.ul-drop ul li:hover > ul {
  display: block;
}

html.theme-dark nav.ul-drop ul li a {
  color: rgba(255, 255, 255, 0.8);
}

html.theme-dark nav.ul-drop ul li > ul {
  background-color: #373737;
}

html.theme-light nav.ul-drop ul {
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

html.theme-light nav.ul-drop ul ul {
  -webkit-box-shadow: -3px 3px 10px -2px rgba(255, 255, 255, 0.1);
          box-shadow: -3px 3px 10px -2px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

html.theme-light nav.ul-drop ul ul li a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

html.theme-light nav.ul-drop ul li:hover {
  background: rgba(255, 255, 255, 0.15);
}

html.theme-light nav.ul-drop ul li:hover > ul {
  display: block;
}

html.theme-light nav.ul-drop ul li a {
  color: rgba(0, 0, 0, 0.8);
}

html.theme-light nav.ul-drop ul li > ul {
  background-color: #e1e1e1;
}

.ul-tabs {
  width: 100%;
  min-height: 100px;
  position: relative;
  color: var(--color-text);
}

.ul-tabs > ul,
.ul-tabs > ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ul-tabs > ul {
  overflow-x: scroll;
  width: 100%;
  white-space: nowrap;
}

.ul-tabs > ul > li {
  display: inline-block;
  vertical-align: top;
}

.ul-tabs > ul > li:first-child {
  margin-left: 8px;
}

.ul-tabs > ul > li > input[type="radio"] + label {
  margin: 0 2px 0 0;
  padding: 0 18px;
  line-height: 32px;
  background: var(--color-background-lighter);
  text-align: center;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  border: solid 1px var(--color-shade);
}

.ul-tabs > ul > li > input[type="radio"]:checked + label {
  z-index: 1;
  background: var(--color-background);
  border-bottom-color: var(--color-background);
  cursor: default;
}

.ul-tabs > ul > li > input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.ul-tabs > ul > li > input[type="radio"] ~ div {
  display: none;
}

.ul-tabs > ul > li > input[type="radio"]:checked:not(:disabled) ~ div {
  display: block;
}

.ul-tabs > ul > li > input[type="radio"]:disabled + label {
  opacity: 0.5;
  cursor: no-drop;
}

.ul-tabs > ul > li > input[type="radio"]:checked + label {
  position: relative;
}

.ul-tabs > ul > li > input[type="radio"] + label {
  display: inline-block;
}

.ul-tabs > ul > li > div {
  top: 33px;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  overflow: auto;
  background: var(--color-background);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  border: solid 1px var(--color-shade);
}

.exf-filedrop .file-preview {
  border: 5px dashed rgba(0, 0, 0, 0.2);
}

.exf-filedrop.drag-over .file-preview {
  border-color: rgba(0, 0, 0, 0.4);
}

.exf-filedrop input[type="file"] {
  opacity: 0 !important;
  position: absolute !important;
  height: 180px !important;
  width: 96% !important;
  overflow: hidden !important;
  margin-top: 20px !important;
}

.exf-filedrop .file-preview {
  position: relative;
  height: 180px;
  pointer-events: none;
  padding: 10px;
}

.exf-filedrop .file-preview:before {
  position: absolute;
  content: "\e6b2";
  font-family: themify;
  font-size: 36px;
  font-size: 10vmax;
  color: rgba(0, 0, 0, 0.2);
  margin: auto;
  height: 166px;
  left: calc(50% - 5vmax);
}

.exf-filedrop .file-preview .thumb {
  pointer-events: all;
  position: relative;
  display: inline-block;
  background-color: white;
  margin-right: 10px;
  -webkit-box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.69);
          box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.69);
  padding: 10px 10px 25px 10px;
}

.exf-filedrop .file-preview .thumb .thumb-data {
  height: 40px;
  width: 60px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-size: contain;
  margin-right: 5px;
}

.exf-filedrop .file-preview .thumb figcaption {
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: small;
  width: 70px;
  bottom: 5px;
}

.exf-filedrop .file-preview .thumb .no-img {
  height: 60px;
  width: 60px;
}

.exf-filedrop .file-preview .thumb .close {
  opacity: 0;
  pointer-events: all;
  outline: none;
  border: none;
  position: absolute;
  width: 24px;
  height: 24px;
  font-size: 13px;
  line-height: 2px;
  vertical-align: sub;
  padding: 0px 0px 3px 0px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 24px;
  right: -10px;
  top: 5px;
  font-weight: 800;
  overflow: hidden;
}

.exf-filedrop .file-preview .thumb .close:hover {
  background-color: #a10f0f;
}

.exf-filedrop .file-preview .thumb:hover .close {
  opacity: 1;
}

.exf-tags-input {
  padding: 10px;
  background-color: var(--color-background);
  border: 1px solid var(--color-shade);
  white-space: normal;
}

.exf-tags-input > input {
  border: none;
  background: transparent;
  outline: none;
  width: 150px;
}

.exf-tags-input > .tag {
  display: inline-block;
  background-color: var(--color-background-lighter);
  border-radius: 40px;
  padding: 0px 3px 0px 7px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.exf-tags-input > .tag a {
  margin: 0 7px 3px;
  display: inline-block;
  cursor: pointer;
}

.circle-chart__circle {
  animation: circle-chart-fill 2s reverse;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.circle-chart__circle--negative {
  -webkit-transform: rotate(-90deg) scale(1, -1);
          transform: rotate(-90deg) scale(1, -1);
}

.circle-chart__info {
  -webkit-animation: circle-chart-appear 2s forwards;
          animation: circle-chart-appear 2s forwards;
  opacity: 0;
  -webkit-transform: translateY(0.3em);
          transform: translateY(0.3em);
}

@-webkit-keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@-webkit-keyframes circle-chart-appear {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.theme-dark .metric.chart-pct {
  fill: white;
}

.theme-dark .metric.chart-sub {
  fill: #bbb;
}

.exf-dlg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999;
}

.exf-dlg.c-mdl {
  opacity: 0;
  pointer-events: none;
}

.exf-dlg.c-mdl:target {
  opacity: 1;
  pointer-events: auto;
}

.exf-dlg > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 10px;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 10px 10px 25px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 25px -13px rgba(0, 0, 0, 0.75);
}

.exf-dlg .exf-dlg-b {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
  margin-bottom: 1em;
}

.exf-dlg .dlg-bc {
  float: right;
  padding: 1px 8px;
  border: 0;
}

.exf-dlg .dlg-x.dismiss {
  display: none;
}

.exf-dlg.dlg-cv .dlg-x.dismiss {
  display: inline-block;
}

.exf-dlg .exf-dlg-t {
  font-size: 1.2em;
  font-weight: 800;
}

.exf-ctl-cnt.exf-switch {
  direction: ltr;
}

.exf-ctl-cnt.exf-switch input[type="range"] {
  width: 2.5rem !important;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  height: 1.2rem;
  margin: 0;
  border: none;
  padding: 0.1 0.2rem 0.2rem;
  border-radius: 1.2rem;
  background-color: #ccc;
  -webkit-box-shadow: inset 0 1px 0 0 #ccc, inset 0 -1px 0 0 #bbb;
          box-shadow: inset 0 1px 0 0 #ccc, inset 0 -1px 0 0 #bbb;
  outline: none;
  /* no focus outline */
  /* thumb */
}

.exf-ctl-cnt.exf-switch input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.exf-ctl-cnt.exf-switch input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

.exf-ctl-cnt.exf-switch input[type="range"]::-ms-track {
  border: inherit;
  color: transparent;
  /* don't drawn vertical reference line */
  background: transparent;
}

.exf-ctl-cnt.exf-switch input[type="range"]::-ms-fill-lower, .exf-ctl-cnt.exf-switch input[type="range"]::-ms-fill-upper {
  background: transparent;
}

.exf-ctl-cnt.exf-switch input[type="range"]::-ms-tooltip {
  display: none;
}

.exf-ctl-cnt.exf-switch input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  border-radius: 1.2rem;
  /* android <= 2.2 */
  /* older mobile safari and android > 2.2 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333333), to(#444444));
  background-image: linear-gradient(to bottom, #333333 0, #444444 100%);
  /* W3C */
}

.exf-ctl-cnt.exf-switch input[type="range"]::-moz-range-thumb {
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  border-radius: 1.2rem;
  background-image: linear-gradient(to bottom, #11aa11 0, #22bb22 100%);
  /* W3C */
}

.exf-ctl-cnt.exf-switch input[type="range"]::-ms-thumb {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 1.2rem;
  border: 0;
  background-image: linear-gradient(to bottom, #11aa11 0, #22bb22 100%);
  /* W3C */
}

.exf-ctl-cnt.exf-switch input[type="range"] .switch.on::-webkit-slider-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #11aa11), to(#22bb22));
  background-image: linear-gradient(to bottom, #11aa11 0, #22bb22 100%);
  /* W3C */
}

.exf-ctl-cnt.exf-switch input[type="range"] .switch.on::-moz-range-thumb {
  background-image: linear-gradient(to bottom, #11aa11 0, #22bb22 100%);
  /* W3C */
}

.exf-ctl-cnt.exf-switch input[type="range"] .switch.on::-ms-thumb {
  background-image: linear-gradient(to bottom, #11aa11 0, #22bb22 100%);
  /* W3C */
}

.exf-ctl-cnt.exf-switch input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 1.2rem;
}

.exf-ctl-cnt.exf-switch.on input[type="range"]::-webkit-slider-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #11aa11), to(#22bb22));
  background-image: linear-gradient(to bottom, #11aa11 0, #22bb22 100%);
  /* W3C */
}

.exf-ctl-cnt.exf-switch label > span {
  display: inline-block;
  vertical-align: top;
}

html.theme-dark .exf-ctl-cnt.exf-switch input[type="range"] {
  background-color: #5b5c5d;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
          box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
}

.exf-container [class^="exf-cols-"], .exf-container [class*=" exf-cols-"] {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 10px;
}

.exf-container [class^="exf-cols-"] .exf-ctl-cnt.exf-base-text > input[name], .exf-container [class*=" exf-cols-"] .exf-ctl-cnt.exf-base-text > input[name] {
  width: auto !important;
}

.exf-container .exf-cols-10em-1fr {
  -ms-grid-columns: 10em 1fr;
      grid-template-columns: 10em 1fr;
}

.exf-container .exf-cols-20em-1fr {
  -ms-grid-columns: 20em 1fr;
      grid-template-columns: 20em 1fr;
}

.exf-container .exf-cols-50-50 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.exf-container .exf-cols-20-60-20 {
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
}

.exf-container .exf-cols-40-60 {
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.exf-container .exf-cols-10em-10em {
  -ms-grid-columns: 10em 10em;
      grid-template-columns: 10em 10em;
}

.exf-container .exf-wrapper {
  height: 100%;
}

.exf-container .exf-wrapper .exf-page {
  display: none;
}

.exf-container .exf-wrapper .exf-page.active {
  display: block;
}

.exf-container .exf-nav-cnt {
  clear: both;
}

.exf-container.single-page .exf-page {
  display: block;
}

.exf-container.single-page .exf-nav-cnt [name="prev"],
.exf-container.single-page .exf-nav-cnt [name="next"] {
  display: none;
}

.exf-container .exf-error {
  display: inline-block;
  padding: .2em;
  color: red;
  border: 1px solid red;
}

.exf-container .exf-ctl-cnt {
  position: relative;
  margin-bottom: 1em;
}

.exf-container .exf-ctl-cnt.exf-input-group > div {
  clear: both;
  margin: auto;
  white-space: normal;
}

.exf-container .exf-ctl-cnt.exf-input-group > div > label {
  display: inline-block;
  width: 33%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
}

.exf-container .exf-ctl-cnt.exf-input-group > div > label > input {
  width: 30px;
  height: auto;
}

.exf-container .exf-ctl-cnt.exf-input-group.block > div > label {
  display: block;
  width: auto;
}

.exf-ctl-cnt.exf-switch {
  direction: ltr;
}

.exf-ctl-cnt.exf-switch input[type="range"] {
  width: 2.5rem !important;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  height: 1.2rem;
  margin: 0;
  border: none;
  padding: 0.1 0.2rem 0.2rem;
  border-radius: 1.2rem;
  background-color: #ccc;
  -webkit-box-shadow: inset 0 1px 0 0 #ccc, inset 0 -1px 0 0 #bbb;
          box-shadow: inset 0 1px 0 0 #ccc, inset 0 -1px 0 0 #bbb;
  outline: none;
  /* no focus outline */
  /* thumb */
}

.exf-ctl-cnt.exf-switch input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.exf-ctl-cnt.exf-switch input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

.exf-ctl-cnt.exf-switch input[type="range"]::-ms-track {
  border: inherit;
  color: transparent;
  /* don't drawn vertical reference line */
  background: transparent;
}

.exf-ctl-cnt.exf-switch input[type="range"]::-ms-fill-lower, .exf-ctl-cnt.exf-switch input[type="range"]::-ms-fill-upper {
  background: transparent;
}

.exf-ctl-cnt.exf-switch input[type="range"]::-ms-tooltip {
  display: none;
}

.exf-ctl-cnt.exf-switch input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  border-radius: 1.2rem;
  /* android <= 2.2 */
  /* older mobile safari and android > 2.2 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333333), to(#444444));
  background-image: linear-gradient(to bottom, #333333 0, #444444 100%);
  /* W3C */
}

.exf-ctl-cnt.exf-switch input[type="range"]::-moz-range-thumb {
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  border-radius: 1.2rem;
  background-image: linear-gradient(to bottom, #11aa11 0, #22bb22 100%);
  /* W3C */
}

.exf-ctl-cnt.exf-switch input[type="range"]::-ms-thumb {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 1.2rem;
  border: 0;
  background-image: linear-gradient(to bottom, #11aa11 0, #22bb22 100%);
  /* W3C */
}

.exf-ctl-cnt.exf-switch input[type="range"] .switch.on::-webkit-slider-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #11aa11), to(#22bb22));
  background-image: linear-gradient(to bottom, #11aa11 0, #22bb22 100%);
  /* W3C */
}

.exf-ctl-cnt.exf-switch input[type="range"] .switch.on::-moz-range-thumb {
  background-image: linear-gradient(to bottom, #11aa11 0, #22bb22 100%);
  /* W3C */
}

.exf-ctl-cnt.exf-switch input[type="range"] .switch.on::-ms-thumb {
  background-image: linear-gradient(to bottom, #11aa11 0, #22bb22 100%);
  /* W3C */
}

.exf-ctl-cnt.exf-switch input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 1.2rem;
}

.exf-ctl-cnt.exf-switch.on input[type="range"]::-webkit-slider-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #11aa11), to(#22bb22));
  background-image: linear-gradient(to bottom, #11aa11 0, #22bb22 100%);
  /* W3C */
}

.exf-ctl-cnt.exf-switch label > span {
  display: inline-block;
  vertical-align: top;
}

html.theme-dark .exf-ctl-cnt.exf-switch input[type="range"] {
  background-color: #5b5c5d;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
          box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
}

nav.ul-drop {
  position: absolute;
  top: 0;
  right: 0;
  direction: rtl;
  width: auto;
  z-index: 99;
}

nav.ul-drop ul {
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  list-style: none;
  position: relative;
  float: right;
  display: inline-table;
}

nav.ul-drop ul ul {
  display: none;
  position: absolute;
  top: 100%;
  -webkit-box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav.ul-drop ul ul li {
  float: none;
  position: relative;
}

nav.ul-drop ul ul li a {
  padding: 6px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

nav.ul-drop ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

nav.ul-drop ul li {
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav.ul-drop ul li:hover {
  background: rgba(255, 255, 255, 0.15);
}

nav.ul-drop ul li:hover > ul {
  display: block;
}

nav.ul-drop ul li a {
  display: block;
  padding: 6px 10px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

html.theme-dark nav.ul-drop ul {
  -webkit-box-shadow: 0 3px 10px -2px rgba(255, 255, 255, 0.1);
          box-shadow: 0 3px 10px -2px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

html.theme-dark nav.ul-drop ul ul {
  -webkit-box-shadow: -3px 3px 10px -2px rgba(255, 255, 255, 0.1);
          box-shadow: -3px 3px 10px -2px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

html.theme-dark nav.ul-drop ul ul li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

html.theme-dark nav.ul-drop ul li:hover {
  background: rgba(0, 0, 0, 0.15);
}

html.theme-dark nav.ul-drop ul li:hover > ul {
  display: block;
}

html.theme-dark nav.ul-drop ul li a {
  color: rgba(255, 255, 255, 0.8);
}

html.theme-dark nav.ul-drop ul li > ul {
  background-color: #373737;
}

html.theme-light nav.ul-drop ul {
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

html.theme-light nav.ul-drop ul ul {
  -webkit-box-shadow: -3px 3px 10px -2px rgba(255, 255, 255, 0.1);
          box-shadow: -3px 3px 10px -2px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

html.theme-light nav.ul-drop ul ul li a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

html.theme-light nav.ul-drop ul li:hover {
  background: rgba(255, 255, 255, 0.15);
}

html.theme-light nav.ul-drop ul li:hover > ul {
  display: block;
}

html.theme-light nav.ul-drop ul li a {
  color: rgba(0, 0, 0, 0.8);
}

html.theme-light nav.ul-drop ul li > ul {
  background-color: #e1e1e1;
}

.exf-wiz-step-cnt {
  position: relative;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  height: 130px;
}

.exf-wiz-step-cnt .buttons {
  position: absolute;
  top: 180px;
  text-align: center;
  width: 100%;
}

.exf-wiz-step-cnt .btn {
  width: 50px;
  height: 30px;
}

.exf-wiz-step-cnt .step-wizard {
  display: inline-block;
  position: relative;
  width: 85%;
}

.exf-wiz-step-cnt .step-wizard .progress {
  position: absolute;
  top: 35px;
}

.exf-wiz-step-cnt .step-wizard .progressbar {
  position: fixed;
  background-color: #3b5343;
  opacity: 1;
  height: 3px;
  width: 0%;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.exf-wiz-step-cnt .step-wizard .progressbar.empty {
  opacity: 1;
  width: 100%;
  background-color: #d0d0d0;
}

.exf-wiz-step-cnt .step-wizard ul {
  position: absolute;
  width: 100%;
  list-style-type: none;
  padding: 0;
  left: -2%;
}

.exf-wiz-step-cnt .step-wizard li {
  display: inline-block;
  text-align: center;
  width: 24%;
}

.exf-wiz-step-cnt .step-wizard li .step {
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #d0d0d0;
  background: #ffffff;
  -webkit-transition: background-color 0.6s ease, border-color 0.6s ease;
  transition: background-color 0.6s ease, border-color 0.6s ease;
}

.exf-wiz-step-cnt .step-wizard li .title {
  text-decoration: underline;
  width: 100%;
  padding-top: 10px;
  color: #767676;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
}

.exf-wiz-step-cnt .step-wizard li.active .step {
  border-color: #3b5343;
  color: #3b5343;
}

.exf-wiz-step-cnt .step-wizard li.active .title {
  text-decoration: none;
  color: #3b5343;
  font-weight: bold;
}

.exf-wiz-step-cnt .step-wizard li.done .title {
  color: #3b5343;
}

.exf-wiz-step-cnt .step-wizard li.done .title:hover {
  color: #3b5343;
}

.exf-wiz-step-cnt .step-wizard li.done .step {
  color: white;
  background-color: #3b5343;
  border-color: #3b5343;
}

.exf-wiz-step-cnt .step-wizard li > button {
  background: none;
  border: none;
  display: block;
  width: 100%;
  color: #777;
  position: relative;
  text-align: center;
  outline: none;
}

.exf-wiz-step-cnt .step-wizard li > button:hover .step {
  border-color: #3b5343;
  background: #eee;
  color: #3b5343;
}

.exf-wiz-step-cnt .step-wizard li > button:hover .title {
  color: #3b5343;
}

.exf-wiz-step-cnt li.done button div.step {
  font-size: 0;
}

.exf-wiz-step-cnt li.done button div.step::before {
  content: "\2713 ";
  font-size: 18px;
}

.exf-filedrop .file-preview {
  border: 5px dashed rgba(0, 0, 0, 0.2);
}

.exf-filedrop.drag-over .file-preview {
  border-color: rgba(0, 0, 0, 0.4);
}

.exf-filedrop input[type="file"] {
  opacity: 0 !important;
  position: absolute !important;
  height: 180px !important;
  width: 96% !important;
  overflow: hidden !important;
  margin-top: 20px !important;
}

.exf-filedrop .file-preview {
  position: relative;
  height: 180px;
  pointer-events: none;
  padding: 10px;
}

.exf-filedrop .file-preview:before {
  position: absolute;
  content: "\e6b2";
  font-family: themify;
  font-size: 36px;
  font-size: 10vmax;
  color: rgba(0, 0, 0, 0.2);
  margin: auto;
  height: 166px;
  left: calc(50% - 5vmax);
}

.exf-filedrop .file-preview .thumb {
  pointer-events: all;
  position: relative;
  display: inline-block;
  background-color: white;
  margin-right: 10px;
  -webkit-box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.69);
          box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.69);
  padding: 10px 10px 25px 10px;
}

.exf-filedrop .file-preview .thumb .thumb-data {
  height: 40px;
  width: 60px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-size: contain;
  margin-right: 5px;
}

.exf-filedrop .file-preview .thumb figcaption {
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: small;
  width: 70px;
  bottom: 5px;
}

.exf-filedrop .file-preview .thumb .no-img {
  height: 60px;
  width: 60px;
}

.exf-filedrop .file-preview .thumb .close {
  opacity: 0;
  pointer-events: all;
  outline: none;
  border: none;
  position: absolute;
  width: 24px;
  height: 24px;
  font-size: 13px;
  line-height: 2px;
  vertical-align: sub;
  padding: 0px 0px 3px 0px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 24px;
  right: -10px;
  top: 5px;
  font-weight: 800;
  overflow: hidden;
}

.exf-filedrop .file-preview .thumb .close:hover {
  background-color: #a10f0f;
}

.exf-filedrop .file-preview .thumb:hover .close {
  opacity: 1;
}

.exf-container.fluent {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.exf-container.fluent .exf-ctl-cnt {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  min-height: 2.525rem;
  height: auto;
  padding: 2rem 0.5rem 0.5rem;
  line-height: 1;
}

.exf-container.fluent .exf-ctl-cnt > [name] {
  outline: none;
}

.exf-container.fluent .exf-ctl-cnt > input,
.exf-container.fluent .exf-ctl-cnt > textarea,
.exf-container.fluent .exf-ctl-cnt > select {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px red solid;
  height: 2rem;
  padding: 0.3125rem;
  z-index: 0;
  width: auto;
}

.exf-container.fluent .exf-ctl-cnt > textarea {
  width: 100%;
  min-height: 6em;
}

.exf-container.fluent .exf-ctl-cnt > select {
  min-width: 15rem;
}

.exf-container.fluent .exf-ctl-cnt > input:not([type="color"]):not([type="date"]):not([type="time"]) {
  width: 100%;
}

.exf-container.fluent .exf-ctl-cnt > input[type="color"], .exf-container.fluent .exf-ctl-cnt [type="date"], .exf-container.fluent .exf-ctl-cnt [type="time"], .exf-container.fluent .exf-ctl-cnt [type="datetime"], .exf-container.fluent .exf-ctl-cnt [type="datetime-local"] {
  min-width: 3rem;
}

.exf-container.fluent .exf-ctl-cnt > input:focus,
.exf-container.fluent .exf-ctl-cnt > textarea:focus,
.exf-container.fluent .exf-ctl-cnt > select:focus,
.exf-container.fluent .exf-ctl-cnt > input:hover,
.exf-container.fluent .exf-ctl-cnt > textarea:hover,
.exf-container.fluent .exf-ctl-cnt > select:hover,
.exf-container.fluent .exf-ctl-cnt > .btn:hover {
  border-color: var(--field-box-shadow);
}

.exf-container.fluent .exf-ctl-cnt > input:disabled,
.exf-container.fluent .exf-ctl-cnt > textarea:disabled,
.exf-container.fluent .exf-ctl-cnt > select:disabled {
  background-color: var(--color-disabled);
}

.exf-container.fluent .exf-ctl-cnt > input:-moz-read-only,
.exf-container.fluent .exf-ctl-cnt > textarea:-moz-read-only,
.exf-container.fluent .exf-ctl-cnt > select:-moz-read-only {
  background-color: var(--color-readonly);
}

.exf-container.fluent .exf-ctl-cnt > input:read-only,
.exf-container.fluent .exf-ctl-cnt > textarea:read-only,
.exf-container.fluent .exf-ctl-cnt > select:read-only {
  background-color: var(--color-readonly);
}

.exf-container.fluent .exf-ctl-cnt > label {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.exf-container.fluent .exf-ctl-cnt [type="radio"],
.exf-container.fluent .exf-ctl-cnt [type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 20px;
  height: 20px;
  border: solid 1px #cccccc;
  margin-right: 8px;
  position: relative;
}

.exf-container.fluent .exf-ctl-cnt [type="radio"]:checked::before, .exf-container.fluent .exf-ctl-cnt [type="radio"]:checked::before,
.exf-container.fluent .exf-ctl-cnt [type="checkbox"]:checked::before,
.exf-container.fluent .exf-ctl-cnt [type="checkbox"]:checked::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #ffa500;
  position: absolute;
  top: 2px;
  left: 2px;
}

.exf-container.fluent .exf-ctl-cnt [type="radio"]:checked::before,
.exf-container.fluent .exf-ctl-cnt [type="checkbox"]:checked::before {
  border-radius: 100%;
}

.exf-container.fluent .exf-ctl-cnt [type="radio"] {
  border-radius: 100%;
}

.exf-container.fluent .exf-input-group label > .exf-caption {
  display: inline-block;
  height: 20px;
  vertical-align: text-bottom;
  padding: .2rem .4rem .2rem .1rem;
  margin-right: 1rem;
}

.exf-container.fluent .btn {
  -webkit-appearance: button;
  cursor: pointer;
  padding: 0 1rem;
  height: 2.125rem;
  text-align: center;
  background-color: var(--color-background);
  border: 1px var(--color-shade) solid;
  color: var(--color-text);
  display: inline-block;
  outline: none;
  font-size: 0.875rem;
  margin: 0.15625rem 0;
  position: relative;
  vertical-align: middle;
}

.exf-container.fluent .btn:active {
  background: #eeeeee;
  color: #262626;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.exf-container.fluent .btn:hover {
  border-color: #787878;
}

/* simple, default, lefty themes for ExoForm - form: {theme: <theme> } */
.exf-container {
  /* general defaults for all themes */
  /* specific themes */
}

.exf-container .exf-cnt {
  border: 0;
}

.exf-container .exf-cnt .exf-page-title {
  font-size: 1.2em;
  font-weight: 800;
}

.exf-container .exf-cnt > .btn {
  margin-right: 10px;
}

.exf-container.default > .exf-form {
  margin: auto;
}

.exf-container.default .exf-nav-cnt button.btn {
  background-color: var(--color-button);
  color: var(--color-button-text);
}

.exf-container.default .exf-page-intro {
  margin-bottom: 30px;
}

.exf-container.default .exf-ctl-cnt,
.exf-container.default .exf-nav-cnt {
  margin-bottom: 2em;
  margin-top: 20px;
}

.exf-container.default .exf-ctl-cnt [name]::-webkit-input-placeholder,
.exf-container.default .exf-nav-cnt [name]::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

.exf-container.default .exf-ctl-cnt [name]:-ms-input-placeholder,
.exf-container.default .exf-nav-cnt [name]:-ms-input-placeholder {
  color: var(--placeholder-color);
}

.exf-container.default .exf-ctl-cnt [name]::-ms-input-placeholder,
.exf-container.default .exf-nav-cnt [name]::-ms-input-placeholder {
  color: var(--placeholder-color);
}

.exf-container.default .exf-ctl-cnt [name]::placeholder,
.exf-container.default .exf-nav-cnt [name]::placeholder {
  color: var(--placeholder-color);
}

.exf-container.default .exf-ctl-cnt > input,
.exf-container.default .exf-ctl-cnt > textarea,
.exf-container.default .exf-ctl-cnt > select,
.exf-container.default .exf-ctl-cnt > .btn,
.exf-container.default .exf-nav-cnt > input,
.exf-container.default .exf-nav-cnt > textarea,
.exf-container.default .exf-nav-cnt > select,
.exf-container.default .exf-nav-cnt > .btn {
  font-size: 1em;
  padding: 0.4em 0.2em 0.3em;
}

.exf-container.default .exf-ctl-cnt > textarea,
.exf-container.default .exf-nav-cnt > textarea {
  min-height: 140px;
  padding: 10px 10px 10px 5px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #b1b1b1;
}

.exf-container.default .exf-ctl-cnt > textarea.code,
.exf-container.default .exf-nav-cnt > textarea.code {
  overflow: auto;
  font-family: "Consolas", "Courier New", Courier, monospace;
  white-space: pre;
  outline: none;
}

.exf-container.default .exf-ctl-cnt > .btn,
.exf-container.default .exf-nav-cnt > .btn {
  cursor: pointer;
  padding: 0.3vmax 0.5vmax;
  background-color: var(--color-primary-lighter);
  border: 2px solid var(--color-primary);
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  color: var(--color-button-text);
  border-radius: 2px;
  padding: 6px 9px;
  font-size: 16px;
  -webkit-box-shadow: 0 0 4px var(--button-shadow-color);
          box-shadow: 0 0 4px var(--button-shadow-color);
  outline: none;
  cursor: pointer;
  font-size: 0.9em;
}

.exf-container.default .exf-ctl-cnt > .btn:hover,
.exf-container.default .exf-nav-cnt > .btn:hover {
  border-color: var(--color-primary-darker);
}

.exf-container.default .exf-ctl-cnt > .btn:active,
.exf-container.default .exf-nav-cnt > .btn:active {
  background-color: var(--color-primary-lighter);
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.exf-container.default .exf-ctl-cnt > .btn.primary,
.exf-container.default .exf-nav-cnt > .btn.primary {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary-dark);
}

.exf-container.default .exf-ctl-cnt[data-ctl-type="hidden"],
.exf-container.default .exf-nav-cnt[data-ctl-type="hidden"] {
  display: none;
}

.exf-container.default .exf-ctl-cnt > label,
.exf-container.default .exf-nav-cnt > label {
  font-weight: var(--label-font-weight);
  color: var(--label-color);
  display: block;
}

.exf-container.default .exf-ctl-cnt > input,
.exf-container.default .exf-nav-cnt > input {
  display: inline-block;
  border: none;
  outline: none;
}

.exf-container.default .exf-ctl-cnt > input[type="date"], .exf-container.default .exf-ctl-cnt > input[type="time"], .exf-container.default .exf-ctl-cnt > input[type="datetime"],
.exf-container.default .exf-nav-cnt > input[type="date"],
.exf-container.default .exf-nav-cnt > input[type="time"],
.exf-container.default .exf-nav-cnt > input[type="datetime"] {
  position: relative;
  padding: 0.5rem;
  border: 1px solid #b1b1b1;
}

.exf-container.default .exf-ctl-cnt > input[type="color"],
.exf-container.default .exf-nav-cnt > input[type="color"] {
  min-height: 3vh;
}

.exf-container.default .exf-ctl-cnt.exf-base-text,
.exf-container.default .exf-nav-cnt.exf-base-text {
  /* active state */
}

.exf-container.default .exf-ctl-cnt.exf-base-text > input,
.exf-container.default .exf-nav-cnt.exf-base-text > input {
  display: block;
  width: 100%;
  border-bottom: 1px solid #b1b1b1;
  color: #333;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.exf-container.default .exf-ctl-cnt.exf-base-text > label,
.exf-container.default .exf-nav-cnt.exf-base-text > label {
  opacity: 0.5;
  display: inline-block;
  color: #444;
  font-size: 1em;
  position: absolute;
  pointer-events: none;
  top: 0.3em;
  left: 0.3em;
  opacity: 0.5;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.exf-container.default .exf-ctl-cnt.exf-base-text > input:focus ~ label,
.exf-container.default .exf-ctl-cnt.exf-base-text > input:valid ~ label,
.exf-container.default .exf-ctl-cnt.exf-base-text > textarea:focus ~ label,
.exf-container.default .exf-nav-cnt.exf-base-text > input:focus ~ label,
.exf-container.default .exf-nav-cnt.exf-base-text > input:valid ~ label,
.exf-container.default .exf-nav-cnt.exf-base-text > textarea:focus ~ label {
  top: -1.6em;
  font-size: 0.8em;
  color: #a0a0a0;
  opacity: 1;
}

.exf-container.default .exf-ctl-cnt.exf-base-text > input:not(:placeholder-shown) ~ label,
.exf-container.default .exf-ctl-cnt.exf-base-text > textarea:not(:placeholder-shown) ~ label,
.exf-container.default .exf-ctl-cnt.exf-base-text > select ~ label,
.exf-container.default .exf-nav-cnt.exf-base-text > input:not(:placeholder-shown) ~ label,
.exf-container.default .exf-nav-cnt.exf-base-text > textarea:not(:placeholder-shown) ~ label,
.exf-container.default .exf-nav-cnt.exf-base-text > select ~ label {
  top: -1.3em;
  font-size: 0.8em;
  color: #a0a0a0;
  opacity: 1;
}

.exf-container.default .exf-ctl-cnt.exf-label-sup label,
.exf-container.default .exf-nav-cnt.exf-label-sup label {
  top: -1.3em;
  font-size: 0.8em;
  color: #a0a0a0;
  opacity: 1;
}

.exf-container.default .exf-ctl-cnt > input:focus,
.exf-container.default .exf-ctl-cnt > textarea:focus,
.exf-container.default .exf-nav-cnt > input:focus,
.exf-container.default .exf-nav-cnt > textarea:focus {
  outline: none;
  opacity: 1;
}

.exf-container.default .exf-ctl-cnt.exf-dirty input:invalid,
.exf-container.default .exf-nav-cnt.exf-dirty input:invalid {
  -webkit-box-shadow: 0 0 5px 1px red;
          box-shadow: 0 0 5px 1px red;
}

.exf-container.default .exf-ctl-cnt.exf-dirty input:focus:invalid,
.exf-container.default .exf-nav-cnt.exf-dirty input:focus:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.exf-container.default .exf-ctl-cnt > select,
.exf-container.default .exf-nav-cnt > select {
  padding: 0.2em;
  font-size: 1em;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
}

.exf-container.lefty > .exf-form {
  padding: 10px;
  height: 100%;
  overflow: auto;
}

.exf-container.lefty > .exf-form .exf-nav-cnt {
  padding-top: 10px;
}

.exf-container.lefty > .exf-form .btn {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  position: relative;
  float: left;
  padding: 1em 2em;
  text-align: center;
  background-color: gray;
  color: white;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.1);
  margin-right: 1em;
}

.exf-container.lefty > .exf-form .btn:hover {
  background-color: rgba(0, 188, 126, 0.8);
  -webkit-box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.exf-container.lefty > .exf-form .btn:active {
  border-radius: 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.exf-container.lefty > .exf-form .exf-cnt {
  background-color: rgba(100, 100, 111, 0.02);
  border: 1px solid rgba(100, 100, 111, 0.1);
  padding: 2em;
}

.exf-container.lefty > .exf-form .exf-cnt .exf-page-title {
  font-weight: 300;
  font-size: 2em;
}

.exf-container.lefty > .exf-form .exf-cnt .exf-ctl-cnt {
  margin-bottom: 10px;
  padding: 5px;
}

.exf-container.lefty > .exf-form .exf-cnt .exf-ctl-cnt [name] {
  outline: none;
  border: 0;
  padding: 0.6em;
}

.exf-container.lefty > .exf-form .exf-cnt .exf-ctl-cnt > label {
  float: left;
  width: 200px;
  text-align: right;
  display: inline-block;
  margin-right: 1em;
}

.exf-container.survey {
  position: relative;
  margin: auto;
  width: 70%;
  height: 100%;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 120px 1fr 30px;
      grid-template-rows: 120px 1fr 30px;
}

.exf-container.survey .exf-form {
  height: 500px;
  padding-top: 50px;
  overflow: hidden;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.exf-container.survey .exf-page-intro {
  margin: 30px;
}

.exf-container.survey .exf-cnt {
  display: block;
}

.exf-container.survey .exf-cnt.active {
  display: block;
}

.exf-container.survey .exf-cnt .exf-page-title {
  margin-bottom: 2em;
}

.exf-container.survey .exf-nav-cnt {
  text-align: center;
  display: none;
}

.exf-container.survey.step-ready .exf-nav-cnt {
  display: block;
}

.exf-container.survey.step-ready .exf-nav-cnt [name] {
  font-size: 1.1em;
  padding: 0.4em;
  margin-top: 20px;
}

.exf-container.survey.step-ready .exf-nav-cnt [name="prev"],
.exf-container.survey.step-ready .exf-nav-cnt [name="send"] {
  display: none;
}

.exf-container.survey.step-ready .exf-nav-cnt [name="next"] {
  display: inline-block;
}

.exf-container.survey.end-reached .exf-wrapper {
  display: none;
}

.exf-container.survey.end-reached .exf-nav-cnt {
  display: block;
  padding-top: 200px;
}

.exf-container.survey.end-reached .exf-nav-cnt [name] {
  font-size: smaller;
  padding: 0.2em;
  margin-top: 20px;
}

.exf-container.survey.end-reached .exf-nav-cnt [name="prev"],
.exf-container.survey.end-reached .exf-nav-cnt [name="next"] {
  display: none;
}

.exf-container.survey.end-reached .exf-nav-cnt [name="send"] {
  font-size: x-large;
}

.exf-container.survey .exf-wiz-step-cnt {
  font-size: smaller;
  width: 100%;
  max-width: none;
}

.exf-container.survey .exf-page {
  font-size: 1.1em;
  padding-top: 3em;
  padding-bottom: 3em;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.exf-container.survey .exf-page [name] {
  padding: 1em;
  font-size: 1.2em;
  outline: none;
  border: 0;
  -webkit-box-shadow: 0 0 6px 2px var(--field-box-shadow);
          box-shadow: 0 0 6px 2px var(--field-box-shadow);
}

.exf-container.survey .exf-page [name][type="checkbox"], .exf-container.survey .exf-page [name][type="radio"] {
  -webkit-box-shadow: 0px 0px;
          box-shadow: 0px 0px;
}

.exf-container.survey ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ccc;
}

.exf-container.survey ::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
}

.exf-container.survey :-ms-input-placeholder {
  /* IE 10+ */
  color: #ccc;
}

.exf-container.survey :-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
}

.exf-tabs-wrapper fieldset.exf-page > legend {
  display: none;
}

.exf-tabs-wrapper fieldset.exf-page .exf-page-intro {
  display: none;
}
/*# sourceMappingURL=exf.css.map */