@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar:hover {
  width: 13px;
}

::-webkit-scrollbar-button {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border: 18px none var(--scrollbar-border);
  border-radius: 42px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-bg-hover);
}

::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-bg-active);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

:root {
  --scrollbar-bg: rgba(0, 0, 0, 0.25);
  --scrollbar-bg-hover: rgba(0, 0, 0, 0.15);
  --scrollbar-bg-active: rgba(0, 0, 0, 0.1);
  --color: #333;
  --color-text: #333;
  --color-shade: #ccc;
  --color-button: hsl(350, 87%, 36%);
  --color-button-disabled: hsl(340, 0%, 65%);
  --field-box-shadow-subtle: #dedede;
  --color-label-active: rgb(173, 58, 4);
  --color-label: #333;
  --color-input-shade: rgba(0, 0, 0, 0.2);
  --color-input-shade-focus: rgb(173, 58, 4);
  --color-dropdown-bg: #e1e1e1;
  --color-dropdown-hover: #b6b6b6;
  --color-dropdown-text: rgba(0, 0, 0, 0.8);
  --color-dropdown-border: rgba(0, 0, 0, 0.1);
  --lv-grid-template-xxs: repeat(5, 1fr);
  --lv-grid-template-xxs-areas: ".";
  --lv-grid-template-xs: repeat(5, 1fr);
  --lv-grid-template-xs-areas: ".";
  --lv-grid-template-sm: repeat(5, 1fr);
  --lv-grid-template-sm-areas: ".";
  --lv-grid-template-md: repeat(5, 1fr);
  --lv-grid-template-md-areas: ".";
  --lv-grid-template-lg: repeat(5, 1fr);
  --lv-grid-template-lg-areas: ".";
  --lv-grid-template-xl: repeat(5, 1fr);
  --lv-grid-template-xl-areas: ".";
  --tile-width: 300px;
  --lv-tile-content-areas: ".";
  --lv-grid-border-color: #ccc;
  --lv-grid-border-color: #ccc;
  --lv-grid-header-color: #f9fafb;
  --lv-tile-color: white;
  --color-button-text: white;
}

html,
body {
  height: 100vh;
  overflow: hidden;
  font-family: Roboto;
}

main {
  padding: 1rem;
  overflow: auto;
  margin: auto;
  max-height: 100%;
  width: 100%;
}

#xo-test [data-field-type="listview"][data-view="tiles"] article.exf-lv-item .small {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.5);
}

#xo-test .exf-dlg-c {
  background-color: #ddd;
}

#xo-test .exf-lv-item.empty {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

#xo-test .exf-dlg .exf-container.exf-theme-material form {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 1fr 30px;
      grid-template-rows: 50px 1fr 30px;
  color: #333;
  background-color: #efefef;
  margin: 0;
  padding: 0;
}

body header {
  background-color: rgba(0, 0, 0, 0.15);
}

body footer {
  background-color: rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: smaller;
  padding-top: 5px;
}

#xo-test .md-converted-html {
  max-width: 90%;
}

#xo-test .md-converted-html table {
  border: 1px solid #999;
}

#xo-test .md-converted-html table thead {
  text-align: left;
}

#xo-test .md-converted-html img {
  width: 90%;
  max-width: 900px;
}

#xo-test .md-converted-html code {
  font-size: 1rem;
  font-family: Consolas, "Courier New", Courier, monospace;
}

#xo-test .md-converted-html blockquote {
  border-left: 10px solid #c04e58;
  padding: 0.5rem;
}

#xo-test .products-mock > div {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60px;
      grid-template-columns: 1fr 60px;
}

#xo-test .products-mock > div small {
  color: rgba(0, 0, 0, 0.5);
}

#xo-test .products-mock > div.selected {
  background-color: yellow;
}

#xo-test .exf-container {
  width: 100%;
}

#xo-test .exf-container.exf-theme-material {
  margin-top: 2rem;
}

#xo-test .exf-container.exf-theme-material .exf-wrapper > fieldset {
  height: 70vh;
  overflow-y: auto;
}

#xo-test .exf-container.exf-theme-material form {
  margin: auto;
  -webkit-box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.15);
  border-radius: 1em;
  padding: 1em;
}

#xo-test .exf-container.exf-theme-material legend {
  color: #666;
  padding: 0.3em 0.7em;
  border-radius: 0.3em;
}

#xo-test .exf-container.exf-theme-material fieldset {
  border: 0;
  margin-top: 1em;
}

#xo-test .exf-container.pwa-omnibox {
  padding-top: 0.5rem;
}

#xo-test .exf-container.pwa-omnibox .exf-wrapper {
  text-align: center;
}

#xo-test .exf-container.pwa-omnibox fieldset {
  margin: auto;
  border: 0;
  padding: 0;
}

#xo-test .exf-container.pwa-omnibox fieldset .exf-ctl-cnt {
  text-align: left;
}

#xo-test .exf-container.pwa-omnibox fieldset .exf-ctl-cnt input {
  padding: 0.6rem 0.9rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  outline: none;
}

#xo-test .exf-container.pwa-omnibox fieldset .exf-ctl-cnt input:focus {
  border-color: rgba(200, 0, 0, 0.4);
}

#xo-test .exf-container .compact.exf-ctl-cnt {
  padding: 0 !important;
  margin: 0 !important;
}

#xo-test .exf-container .compact.exf-ctl-cnt .exf-ctl-group {
  padding: 0 !important;
  margin: 0 !important;
  padding-top: 1rem !important;
}

nav.main-menu {
  padding: 0;
}

nav.main-menu ul {
  margin: 0;
  list-style: none;
}

nav.main-menu ul li {
  margin: 0 0 2px 0;
  padding: 0;
  border: 1px solid #ccc;
  background-color: #eee;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

nav.main-menu ul li a {
  display: block;
  padding: 1em;
  margin: 2px;
  text-decoration: none;
}

nav.main-menu ul li a:link, nav.main-menu ul li a:visited, nav.main-menu ul li a:active {
  color: #666;
}

nav.main-menu ul li:hover {
  background-color: #fefefe;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

nav.main-menu ul li.selected {
  background-color: #fdd;
}

.exf-btn {
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  outline: none;
  background-color: var(--color-button);
  color: var(--color-button-text);
}

.exf-dlg .exf-dlg-f .exf-btn {
  font-size: 1.1rem;
  outline: none;
  padding: 0.4rem 0.8rem;
  border: none;
}
/*# sourceMappingURL=xo-test.css.map */