{
  "openapi": "3.0.1",
  "info": {
    "title": "AssetManagementApi",
    "version": "1.0.0"
  },
  "paths": {
    "/assets/{assetpathandname}": {
      "delete": {
        "description": "Description for DeleteAsset",
        "operationId": "DeleteAsset",
        "parameters": [
          {
            "name": "assetPathAndName",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "title": "assetPathAndName",
              "type": "string",
              "format": ""
            }
          }
        ],
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/assets": {
      "get": {
        "description": "Description for GetAssetTree",
        "operationId": "GetAssetTree",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/treeNode"
                }
              }
            }
          }
        }
      }
    },
    "/assets/{assetpathandname}/dependents": {
      "get": {
        "description": "Description for GetDependentEntities",
        "operationId": "GetDependentEntities",
        "parameters": [
          {
            "name": "assetPathAndName",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "title": "assetPathAndName",
              "type": "string",
              "format": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/dependentEntityDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi": {
      "get": {
        "description": "Description for GetOpenApiDefinition",
        "operationId": "GetOpenApiDefinition",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/sastoken": {
      "get": {
        "description": "Description for GetSasToken",
        "operationId": "GetSasToken",
        "responses": {
          "200": {
            "description": "OK",
            "links": {
              "ListAssetsLink": {
                "operationId": "ListAssets",
                "parameters": {
                  "sasToken": "$response.body"
                }
              },
              "DownloadAssetLink": {
                "operationId": "DownloadAsset",
                "parameters": {
                  "sasToken": "$response.body"
                }
              },
              "UploadAssetLink": {
                "operationId": "UploadAsset",
                "parameters": {
                  "sasToken": "$response.body"
                }
              },
              "DeleteAssetLink": {
                "operationId": "DeleteAsset",
                "parameters": {
                  "sasToken": "$response.body"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantid}?{sastoken}&restype=container&comp=list": {
      "get": {
        "description": "Description for ListAssets",
        "operationId": "ListAssets",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "title": "tenantId",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "sasToken",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "title": "sasToken",
              "type": "string",
              "format": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "servers": [
          {
            "url": "https://stasfassetsdev.blob.core.windows.net"
          }
        ]
      }
    },
    "/{tenantid}/{filename}?{sastoken}": {
      "get": {
        "description": "Description for DownloadAsset",
        "operationId": "DownloadAsset",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "title": "tenantId",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filename",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "title": "filename",
              "type": "string",
              "format": ""
            }
          },
          {
            "name": "sasToken",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "title": "sasToken",
              "type": "string",
              "format": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "servers": [
          {
            "url": "https://stasfassetsdev.blob.core.windows.net"
          }
        ]
      },
      "put": {
        "description": "Description for UploadAsset",
        "operationId": "UploadAsset",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "title": "tenantId",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filename",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "title": "filename",
              "type": "string",
              "format": ""
            }
          },
          {
            "name": "sasToken",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "title": "sasToken",
              "type": "string",
              "format": ""
            }
          },
          {
            "name": "x-ms-blob-type",
            "in": "header",
            "required": true,
            "schema": {
              "default": "BlockBlob"
            }
          }
        ],
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "servers": [
          {
            "url": "https://stasfassetsdev.blob.core.windows.net"
          }
        ]
      },
      "delete": {
        "description": "Description for DeleteAsset",
        "operationId": "DeleteAsset",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "title": "tenantId",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filename",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "title": "filename",
              "type": "string",
              "format": ""
            }
          },
          {
            "name": "sasToken",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "title": "sasToken",
              "type": "string",
              "format": ""
            }
          }
        ],
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "servers": [
          {
            "url": "https://stasfassetsdev.blob.core.windows.net"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "treeNode": {
        "title": "TreeNode",
        "properties": {
          "name": {
            "title": "Name",
            "type": "string",
            "format": ""
          },
          "contentType": {
            "title": "ContentType",
            "type": "string",
            "format": "",
            "nullable": true
          },
          "contentLength": {
            "title": "ContentLength",
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "isFolder": {
            "title": "IsFolder",
            "type": "boolean",
            "format": ""
          }
        }
      },
      "dependentEntityDTO": {
        "title": "DependentEntityDTO",
        "properties": {
          "entityId": {
            "title": "EntityId",
            "type": "string",
            "format": "uuid"
          },
          "entityType": {
            "title": "EntityType",
            "type": "string",
            "format": ""
          },
          "propertyNames": {
            "title": "PropertyNames",
            "required": [
              "capacity",
              "count",
              "item"
            ],
            "type": "object",
            "properties": {
              "capacity": {
                "title": "Capacity",
                "type": "integer",
                "format": "int32"
              },
              "count": {
                "title": "Count",
                "type": "integer",
                "format": "int32"
              },
              "item": {
                "title": "Item",
                "type": "string",
                "format": ""
              }
            },
            "format": ""
          }
        }
      }
    }
  }
}