.exf-dlg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99999;
    overflow-y: auto;

    &.dlg-ch {
        button.dismiss {
            display: none;
        }
    }

    &.c-mdl {
        opacity: 0;
        pointer-events: none;
    }

    &.exf-dlg-side {
        // side-panel
        background-color: rgba(0, 0, 0, 0.2);
        transition: background-color 200ms ease;
        &.exf-dlg-sidepanel-animation {
            background-color: rgba(0, 0, 0, 0);
            .exf-dlg-c {
                transform: translateX(100%);
            }
        }
        .exf-dlg-c {
            width: 500px;
            max-width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            position: fixed;
            right: 0;
            top: 0;
            border-radius: 0;
            box-shadow: -4px 0 10px rgba(0, 0, 0, 0.15);
            transform: translateX(0);
            transition: transform 200ms ease;
        }

        .exf-dlg-b {
            flex: 1 1 auto;
            max-height: none;
            overflow-y: auto;
            margin: 0;
            padding: 20px {
                top: 0;
            }
        }

        .exf-dlg-h {
            flex: 0 0 auto;
            padding: 20px;
        }
        .exf-dlg-f {
            flex: 0 0 auto;
            padding: 20px;
            display: flex;
            gap: 20px;

            .btn {
                flex: 1 1 auto;
                margin: 0;
            }
        }
    }

    &.c-mdl:target {
        opacity: 1;
        pointer-events: auto;
    }

    > div {
        max-width: 600px;
        position: relative;
        margin: 10% auto;
        padding: 10px;
        border-radius: 4px;
        background: var(--color-background-variation, #eee);
        -webkit-box-shadow: 10px 10px 25px -13px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 25px -13px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 25px -13px rgba(0, 0, 0, 0.75);
    }

    .exf-dlg-b {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--color-shade, #bfcadb);
        margin-bottom: 1em;
        min-height: 400px;
        max-height: 600px;
        overflow-y: auto;
    }

    .dlg-bc {
        float: right;
        padding: 1px 8px;
        border: 0;
    }

    .dlg-x.dismiss {
        // display: none;
    }

    &.dlg-cv .dlg-x.dismiss {
        display: inline-block;
    }

    .exf-dlg-t {
        font-size: 1.2em;
        font-weight: 800;
    }
}

@media only screen and (max-width: 752px) {
    .exf-dlg {
        > div {
            max-width: 95%;
        }
    }
}
