.exf-ctl-cnt.autocomplete {
    position: relative;
    margin: auto;

    .exf-ac-rs {
        font-size: 0.9rem;
        background-color: rgb(240, 240, 240);
        position: fixed;
        box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.2rem;
        max-height: 300px;
        max-width: 500px;
        overflow-y: auto;
        z-index: 9999;

        .exf-ac-itm {
            display: grid;
            grid-template-columns: var(--exf-ac-itm-grid, 30px 1fr 7rem);
            cursor: pointer;
            overflow: hidden;
            padding: 0.5rem;
            height: var(--exf-ac-itm-height, auto);

            .exf-ac-img {
                background-repeat: no-repeat;
                background-size: contain;
                width: var(--exf-ac-itm-width, 1.1rem);
                height: var(--exf-ac-itm-height, auto);
                display: inline-block;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }

            span.text {
                display: inline-block;
                
                min-width: 100px;

                small {
                    color: rgba(0, 0, 0, 0.5);
                    word-wrap: normal;
                    display: inline-block;
                }

                .txt-hl {
                    text-decoration: underline;
                }
            }

            span.category {
                float: right;
                text-align: right;
                color: rgba(0, 0, 0, 0.5);
                font-size: smaller;
            }

            &.selected {
                background-color: rgba(255, 0, 0, 0.15);
            }

            &.active {
                background-color: rgba(255, 0, 0, 0.25);
                transition: all 0.1s;
            }
        }
    }
}

html.theme-dark {
    .exf-ctl-cnt.autocomplete {
        .exf-ac-rs {
            background-color: rgb(40, 40, 40);

            box-shadow : 0 5px 10px 2px rgba(255, 255, 255, 0.1);
            border-color: rgba(255, 2555, 255, 0.1);

            .exf-ac-itm {
                &:hover {
                    background-color: rgba(255, 255, 255, 0.05);
                }
                span.text {
                    small {
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
                span.category {
                    color: rgba(255, 255, 255, 0.5);
                }

                &.selected {
                    background-color: rgba(255, 0, 0, 0.5);
                }

                &.active {
                    background-color: rgba(255, 0, 0, 0.65);
                }
            }
        }
    }
}

.pwa-omnibox {
    .exf-ctl-cnt.autocomplete {
        width: auto;
        display: inline-block;
    }
}
