
.exf-lv-chk {
    display: block;
    position: absolute;
    top: 0.5rem;
    left: -0.5rem;
    appearance: none;
    cursor: pointer;

    &:before {
        content: "";

        position: absolute;
        left: 0;
        z-index: 1;

        width: 1rem;
        height: 1rem;

        border: 2px solid #c2c2c2;
    }

    &:checked {
        display: block;
        &:before {
            height: 0.5rem;
            transform: rotate(-45deg);

            border-color: var(--color-tile-active, #ff3344);
            border-top-style: none;
            border-right-style: none;
        }
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1.1rem;
        height: 1.1rem;
        background: transparent;
    }
}

.exf-lv-item {
    &:hover {
        .exf-lv-chk {
            display: block;
        }
    }
}

[data-view="tiles"] {
    .exf-lv-chk {
        top: 0.1rem;
        left: 0.1rem;
    }
}

html:not(.pwa-touch) {
    .exf-lv-chk:not(:checked) {
        display: none;
    }

    .exf-lv-item {
        &:hover {
            .exf-lv-chk {
                display: block;
            }
        }
    }
}
