.exf-container {
    &.exf-theme-fluent {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

        .exf-ctl-cnt {
            border: 1px solid transparent;
            appearance: none;
            position: relative;
            min-height: 2.525rem;
            height: auto;
            //padding: 2rem 0.5rem 0.5rem;
            

            .exf-ctl-cnt {
                // nested controls
                padding-left: 0;
                margin: 0;
                margin-bottom: 1rem;
            }

            > .exf-ctl {
                [name] {
                    outline: none;
                    width: 100%;
                }

                input,
                textarea,
                select {
                    border: 1px solid var(--field-box-shadow-subtle);
                    padding: 0.3125rem 0.6125rem;
                    line-height: 1.7rem;
                    z-index: 0;
                    ::placeholder {
                        opacity: 0.6;
                    }
                    border-radius: 0.3rem;
                }

                textarea {
                    width: 100%;
                    min-height: 6em;
                }

                select {
                    min-width: 15rem;
                }

                .exf-ilc-cnt {
                    margin-bottom: 0.5rem;

                    display: flex !important;
                    align-items: center;
                }

                input[type="color"],
                [type="date"],
                [type="time"],
                [type="datetime"],
                [type="datetime-local"] {
                    min-width: 3rem;
                }

                input[type="range"] {
                    appearance: none;
                    padding: 0.2rem;

                    /* thumb */
                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;

                        height: 2rem;
                        width: 0.5rem;
                        background: var(--accent);
                        cursor: grab;
                        transition: all 0.2s ease-in-out;
                    }

                    &::-moz-range-thumb {
                        -moz-appearance: none;
                        height: 1rem;
                        width: 1rem;
                        background: var(--accent);
                        cursor: grab;
                        transition: all 0.2s ease-in-out;
                    }

                    &::-ms-thumb {
                        -ms-appearance: none;
                        height: 1rem;
                        width: 1rem;
                        background: var(--accent);
                        cursor: grab;
                        transition: all 0.2s ease-in-out;
                    }
                }

                &.exf-nmbr-btns {
                    .exf-input {
                        > .nmbr-m,
                        > .nmbr-p {
                            height: 2.7rem;
                            width: 2rem;
                            padding: 0.3125rem;
                            border: 1px solid var(--field-box-shadow-subtle);
                        }
                    }
                }

                input:focus,
                textarea:focus,
                select:focus,
                input:hover,
                textarea:hover,
                select:hover,
                .exf-btn:hover {
                    border-color: var(--field-box-shadow);
                }

                input:disabled,
                textarea:disabled,
                select:disabled {
                    background-color: var(--color-disabled);
                }

                input:read-only,
                textarea:read-only,
                select:read-only {
                    background-color: var(--color-readonly);
                }

                > label {
                    //position: absolute;
                    //top: 0.5rem;
                    //left: 0;
                }

                [type="radio"],
                [type="checkbox"] {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    outline: none;
                    width: 1.25rem;
                    height: 1.25rem;
                    border: solid 1px #cccccc;
                    position: relative;

                    &:checked::before,
                    &:checked::before {
                        content: "";
                        width: 1.35rem;
                        height: 1.35rem;
                        border: 6px solid var(--accent) !important;
                        box-shadow: 0px 0px 1px 1px #ccc;
                        position: absolute;
                        top: -1px;
                        left: -1px;
                    }
                }

                [type="radio"] {
                    &:checked::before {
                        border-radius: 100%;
                    }
                    border-radius: 100%;
                }

                select {
                    outline: 0;
                    box-shadow: none;
                    background-color: var(--color-background);
                    border: 1px solid var(--field-box-shadow-subtle);

                    background-image: none;
                    flex: 1;
                    height: 3rem;
                    padding: 0.3125rem;

                    /* Remove IE arrow */
                    &::-ms-expand {
                        display: none;
                    }
                }
            }

            &.exf-rng-output {
                output {
                    position: absolute;
                    font-size: 0.8rem;
                    background-color: var(--color-background-variation);
                    margin-left: 1em;
                    top: 1rem;
                    margin-right: 0.5rem;
                    right: 0.2rem;
                    left: auto;
                }
            }

            // nested controls
            .exf-ctl-cnt {
                margin-top: 0.2rem;
            }
        }

        [data-field-type="group"] {
            padding-top: 1rem;
        }

        .exf-help-wrapper {
            font-size: smaller;
            .exf-help {
                &.exf-help-invalid {
                    border-color: #cc3344;
                }
            }
        }

        .exf-filedrop {
            > .exf-ctl {
                > .file-preview {
                    border: 1px solid var(--field-box-shadow-subtle);
                }
            }
        }

        .exf-input-group {
            label {
                > .exf-caption {
                    display: inline-block;
                    height: auto;
                    vertical-align: text-bottom;
                    padding: 0.2rem 0.4rem 0.2rem 0.1rem;
                    margin-right: 1rem;

                    .exf-caption-description {
                        font-size: 0.9rem;
                    }

                    .exf-caption-main {
                        margin-bottom: 0.4em;
                        margin-top: -0.4em;
                        font-weight: bold;
                    }
                }
            }
        }

        .exf-btn {
            -webkit-appearance: button;
            cursor: pointer;
            padding: 1rem 2rem;
            text-align: center;
            background-color: var(--color-button);
            border: 1px var(--color-shade, #bfcadb) solid;
            color: var(--color-buttontext);
            display: inline-block;
            outline: none;
            font-size: 0.875rem;
            margin: 0.15625rem 0;
            position: relative;
            vertical-align: middle;

            &:active {
                background: #eeeeee;
                color: #262626;
                box-shadow: none;
            }

            &:hover:not(:disabled) {
                border-color: #787878;
            }

            &.primary {
                background-color: var(--color-button-primary);
            }

            &:disabled {
                background-color: var(--color-button-disabled);
            }
        }

        .exf-txt-psx {
            > .exf-ctl {
                .exf-txt-psx-span {
                    top: 2.3rem;
                    left: 0.7rem;
                    color: var(--label);
                }
            }

            &.suffix {
                > .exf-ctl {
                    .exf-txt-psx-span.icon {
                        left: auto;
                        right: 1.25rem;
                    }
                }
            }
        }
    }
}
