.exf-container {
    box-sizing: border-box;

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    --accent: var(--color-accent, #e63f4d);
    accent-color: var(--accent);

    [class^="exf-cols-"],
    [class*=" exf-cols-"] {
        display: grid;
        grid-column-gap: 10px;

        .exf-ctl-cnt {
            &.exf-base-text {
                input[name] {
                    width: auto !important;
                }
            }
        }
    }

    button {
        transition: all 0.1s;
        &:active {
            transform: translateY(2px);
            transition: all 0.1s ease-out;
        }
    }

    fieldset {
        border: 0;

        &.exf-page {
            border: 0;

            legend {
                font-size: 2rem;
                color: var(--color-label);
            }

            .exf-page-intro {
                margin-top: -1rem;
                opacity: 0.8;
                font-size: 0.95rem;
            }
        }
    }

    .exf-page-intro {
        margin-top: -0.5rem;
        margin-bottom: 1.5rem;
    }

    input,
    textarea,
    select,
    button {
        outline: none;
        padding: 0.3rem 0.6rem;
    }

    textarea {
        resize: vertical;
        font-family: inherit;
    }

    .horizontal {
        &.exf-input-group {
            .exf-ctl {
                .exf-inp{
                    > div {
                        width: 100%;
                        margin-top: 0;
                        display: flex;
                        flex-direction: row;
    
                        flex-wrap: var(--flex-wrap, wrap);
                        justify-content: var(--justify-content, flex-start);
                        align-items: var(--align-items, stretch);
                        align-content: var(--align-content, stretch);
                        gap: 1rem;
    
                        .exf-ilc-cnt {
                            width: fit-content;
                            display: inline-block;
    
                            .exf-caption-description {
                                display: none;
                            }
                        }
                    }
                }
                
            }
        }
    }

    .exf-ctl {
        label:not(:empty) {
            display: block;
            color: var(--color-label);
        }

        .exf-ctl {
            // nested
            > label:not(:empty) {
                color: var(--color-input-text);
                font-size: 0.8rem !important;
            }
        }

        &.autogrow {
            // needs fix because autogrow creates grid
            > .exf-label {
                position: absolute !important;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            > textarea[name],
            &::after {
                margin-top: 1.6rem;
            }
        }
    }

    [data-field-type="group"] {
        .exf-ctl {
            > div {
                margin-top: 0.5rem;
                display: inline-flex;
                flex-direction: var(--flex-direction, row);
                flex-wrap: var(--flex-wrap, wrap);
                justify-content: var(--justify-content, center);
                align-items: var(--align-items, center);
                align-content: var(--align-content, stretch);
                gap: 1.5rem;
            }
        }
        .exf-label {
            position: relative;
        }
    }

    .exf-required:not(.exf-lbl-empty) > .exf-ctl > label::after {
        position: absolute;
        margin-left: 0.2rem;
        margin-top: -0.2rem;
        content: " *";
        color: inherit;
        color: var(--color-label-active);
        vertical-align: super;
    }

    // make sure multi-input grid inputs fill out
    .exf-cnt.exf-ctl-group.grid {
        .exf-ctl-cnt {
            // margin-top: 0!important;
            // margin-bottom: 0!important;

            [name] {
                width: 100%;
            }
        }
    }

    .exf-wrapper {
        .exf-page {
            display: none;

            &.active {
                display: block;
            }
        }
    }

    .exf-embed-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25% !important; /* 16:9*/

        &.ar-4x3 {
            padding-top: 75% !important; /* 4:3 */
        }

        > iframe {
            border: 0;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .exf-help-wrapper {
        font-size: 0.8rem;
        color: var(--color-input-text);
        opacity: 0.6;
    }

    .exf-disabled {
        pointer-events: none;
        opacity: 0.6;
    }

    .exf-nav-cnt {
        clear: both;
        margin: 0;

        > .exf-ctl-cnt {
            display: inline-block;
            margin-right: 0.6rem;
        }
    }

    [data-field-type="textconfirm"] {
        .exf-ctl {
            > div {
                > input {
                    margin: 0 !important;
                    border-right: 0 !important;
                }

                width: 100%;
                display: grid;
                grid-template-columns: 1fr 7rem;

                > .exf-ctl-cnt {
                    position: relative !important;
                    top: 0 !important;
                    padding: 0 !important;
                    margin: 0 !important;
                    height: 100%;
                    button.exf-btn {
                        padding: 0.1rem 1rem;
                        height: 100%;
                        margin: 0 !important;
                    }
                }
            }
        }
    }

    &.single-page {
        .exf-page {
            display: block;
        }

        .exf-nav-cnt {
            [name="prev"],
            [name="next"] {
                display: none;
            }
        }
    }

    [contenteditable="true"].single-line {
        white-space: nowrap;
        width: 200px;
        overflow: hidden;
    }
    [contenteditable="true"].single-line br {
        display: none;
    }
    [contenteditable="true"].single-line * {
        display: inline;
        white-space: nowrap;
    }

    .exf-hidden {
        display: none !important;
    }

    .exf-btn,
    button,
    input[type="range"] {
        cursor: pointer;
    }

    .exf-error {
        display: inline-block;
        padding: 0.2em;
        margin-top: 2rem;
        color: rgb(209, 15, 15);
        border: 1px solid rgb(209, 15, 15);
    }

    .exf-input-group {
        .exf-ilc-cnt {
            display: grid;
            grid-template-columns: 30px 1fr;
            font-size: 0.9rem;

            .exf-caption {
                color: var(--color-input-text);
            }

            input[value="___new"] + label:not(:focus) {
                opacity: 0.6;
            }
        }
    }

    .exf-page {
        padding: 0;
        padding-top: 1rem;

        > .exf-ctl-cnt {
            position: relative;
            margin-bottom: 2em;

            > .exf-ctl {
                > .exf-label {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                }
            }

            // nested
            .exf-ctl-cnt {
                margin-bottom: 1em;
            }

            &.exf-lbl-empty {
                > .exf-ctl {
                    > .exf-label {
                        display: none !important;
                    }
                }
            }

            &.exf-rng-output {
                output {
                    display: inline-block;
                    vertical-align: text-top;
                }
            }

            &.exf-nmbr-btns {
                > .exf-ctl {
                    text-align: center;

                    > [name] {
                        width: auto !important;
                        min-width: 50px;
                        margin: auto;
                        text-align: center;
                    }

                    > input::-webkit-outer-spin-button,
                    > input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    > .nmbr-m,
                    > .nmbr-p {
                        outline: none;
                        display: inline-block;
                    }

                    > .exf-label {
                        top: -1.7em !important;
                    }
                }
            }

            &.exf-input-group {
                margin-top: 1rem;
                > .exf-ctl > div {
                    padding-top: 0.5rem;

                    .exf-ilc-cnt {
                        margin-bottom: 0.5rem;
                        display: block;
                        //width: 100%;

                        > input {
                            float: left;
                        }

                        .exf-caption {
                            padding-left: 1rem;
                            //display: inline-block;

                            display: flex !important;
                            align-items: center;

                            .exf-caption-description {
                                font-size: 0.8rem;
                            }
                        }
                    }
                }

                .exf-ctl {
                    > div {
                        clear: both;
                        //text-align: left;
                        margin: auto;
                        white-space: normal;

                        > label {
                            display: inline-block;
                            width: 30%;
                            overflow: hidden;
                            padding: 5px;
                            //margin-bottom: 1em;

                            > input {
                                width: 30px;
                                height: auto;
                            }

                            > .exf-caption {
                                display: inline-block;
                                height: auto;
                                width: calc(100% - 70px);

                                vertical-align: text-top;
                                padding: 0.2rem 0.4rem 0.2rem 0.1rem;
                                margin-right: 1rem;

                                .exf-caption-description {
                                    height: 5em;

                                    &:empty {
                                        height: 0;
                                    }
                                }
                            }
                        }
                    }

                    &.block {
                        > div {
                            > label {
                                display: block;
                                width: auto;
                            }
                        }
                    }

                    &.list {
                        > div {
                            > label {
                                display: inline-block;
                                width: auto;
                                min-width: 5rem;
                            }
                        }
                    }
                }
            }

            .exf-ctl {
                // https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/
                &.autogrow {
                    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
                    display: grid;

                    &::after {
                        /* Note the weird space! Needed to preventy jumpy behavior */
                        content: attr(data-replicated-value) " ";

                        /* This is how textarea text behaves */
                        white-space: pre-wrap;

                        /* Hidden from view, clicks, and screen readers */
                        visibility: hidden;
                    }
                    textarea {
                        /* You could leave this, but after a user resizes, then it ruins the auto sizing */
                        resize: none;

                        /* Firefox shows scrollbar on growth, you can hide like this. */
                        overflow: hidden;
                    }
                    textarea,
                    &::after {
                        /* Identical styling required!! */
                        font: inherit;

                        /* Place on top of each other */
                        grid-area: 1 / 1 / 2 / 2;
                    }
                }
            }
        }
    }

    .exf-info {
        font-size: 1.1rem;
        background-color: var(--color-shade, #bfcadb);
        background-color: var(--color-shade, #bfcadb);
        padding: 0em 1em 1em;
        border: 1px solid var(--button-shadow-color);
        position: relative;

        .exf-info-title {
            font-size: 1.4rem;
        }

        .exf-info-icon {
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .exf-info-body {
            font-size: 1rem;
        }

        &.hero {
            margin: 2em;
            font-size: 1.4rem;

            .exf-info-title {
                font-size: 2rem;
            }
        }
    }

    .exf-cols-10em-1fr {
        grid-template-columns: 10em 1fr;
    }

    .exf-cols-20em-1fr {
        grid-template-columns: 20em 1fr;
    }

    .exf-cols-50-50 {
        grid-template-columns: 1fr 1fr;
    }

    .exf-cols-20-60-20 {
        grid-template-columns: 20% 60% 20%;
    }

    .exf-cols-40-60 {
        grid-template-columns: 40% 60%;
    }

    .exf-cols-10em-10em {
        grid-template-columns: 10em 10em;
    }

    .exf-cols-20em-20em-1fr {
        grid-template-columns: 20em 20em 1fr;
    }

    .exf-txt-psx {
        .exf-inp {
            position: relative;
        }

        &.prefix {
            input {
                padding-left: 2rem !important;
            }
        }

        &.suffix {
            input {
                padding-right: 2rem !important;
            }
        }

        .exf-txt-psx-span {
            height: fit-content;
            //top: 1.5rem;
            position: absolute;
            overflow: hidden !important;
            //bottom: 0.5rem;

            top: 50%;
            transform: translateY(-50%);

            &.icon {
                left: 0.5rem;
            }

            &.field {
                //    top: -0.2rem;
            }

            &.prefix {
                left: 0.5rem;
            }

            &.suffix {
                right: 0.5rem;
                left: unset;
            }

            > .exf-ctl-cnt {
                padding: 0;
                margin: 0;
            }
        }
    }

    .exf-img-xs {
        max-width: 500px;
    }
    .exf-img-sm {
        max-width: 800px;
    }
    .exf-img-lg {
        max-width: 1024x;
    }

    .ck-voice-label {
        display: none!important;
    }

    .ck-editor__editable_inline {
        min-height: 400px;
    }
}

.exf-sandbox {
    border: 0;
    overflow: visible;

    position: relative;

    .exf-sb-ldr {
        position: absolute;
        opacity: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &.hidden {
            opacity: 0;
            pointer-events: none;
            transition: opacity 1s;
        }
    }
}

[data-field-type] {
    &.full-height {
        display: flex;
        flex-flow: column;
        height: 100%;

        .exf-ctl {
            flex: 1 1 auto;
        }
    }
}


[data-field-type="image"] {
    img {
        min-height: 50px;
    }

    img:before {
        content: " ";
        display: block;

        position: absolute;
        top: -10px;
        left: 0;
        height: calc(100% + 10px);
        width: 100%;
        background-color: rgb(230, 230, 230);
        border: 2px dotted rgb(200, 200, 200);
        border-radius: 5px;
    }

    img:after {
        content: "\e633";
        display: block;
        font-size: 16px;
        font-style: normal;
        font-family: themify;
        color: rgb(100, 100, 100);

        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        text-align: center;
    }
}

[data-field-type="checkbox"] {
    padding: 0 !important;
    margin: 0 !important;
    margin-top: -1rem !important;

    .exf-ctl {
        padding: 0;
        margin: 0;

        > div {
            padding: 0 !important;
            margin: 0 !important;

            .exf-ilc-cnt {
                padding: 0 !important;
                margin: 0 !important;
            }
        }
    }

    
}

[data-field-type="switch"],
[data-field-type="starrating"] {
    output {
        display: none !important;
    }
}

[data-field-type="color"] {
    input[type="color"] {
        min-height: 3rem;
        min-width: 5rem;
    }
}

[data-field-type="progressbar"] {
    progress {
        min-height: 2rem;
        min-width: 10rem;
    }
}

.exf-ctl-cnt {
    hr {
        border: 1px solid var(--input-box-shadow, #999);
    }
}
