.exf-container {
    &.exf-theme-material {
        // Shadows
        $shadow-inset: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14);
        $shadow-0: 0 0 1px rgba(0, 0, 0, 0);
        $shadow-2: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        $shadow-3: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
        $shadow-4: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
        $shadow-6: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
        $shadow-8: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
            0 5px 5px -3px rgba(0, 0, 0, 0.2);

        // Font Sizes
        $mf-font-size: 1rem !default;
        $mf-active-font-size: $mf-font-size * 0.8 !default;
        $mf-active-top: -$mf-font-size !default;

        // Margin & Paddings
        $mf-gap: $mf-font-size * 1 !default;
        $mf-spacer: $mf-font-size / 8 !default;
        $mf-fieldset-margin: 0 0 $mf-gap * 2 !default;
        $mf-checkbox-gap: $mf-font-size * 2 !default;
        $mf-checkbox-top: 0 !default;
        $mf-radio-margin: $mf-font-size / -4 !default;

        // Colors

        $mf-border-color: #999 !default;
        $mf-active-color: #666;
        $mf-focus-color: #fff;

        //font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

        .exf-cnt {
            border: 0;

            > legend {
                font-size: 2rem;
                color: var(--color-label);
            }
        }

        .exf-nav-cnt {
            .exf-btn {
                margin: 0;
            }
        }

        .exf-page {
            margin: 0;
        }

        [data-field-type="multiinput"] {
            padding-top: 1rem;
        }

        .exf-ctl-cnt {
            position: relative;
            margin-top: 1rem;

            .exf-ctl {
                text-align: left;
            }

            &:not(.exf-std-lbl) {
                > .exf-ctl {
                    > .exf-label {
                        position: absolute;
                        pointer-events: none;
                        top: 0.5em;
                        line-height: 1.3;
                    }

                    > .exf-inp {
                        > input {
                            color: transparent;
                        }
                    }
                    
                }
            }

            .exf-ctl-group {
                padding-top: 2rem;
            }

            &.exf-lbl-empty {
                .exf-ctl-group {
                    padding-top: 0;
                }
            }

            > .exf-ctl {
                position: relative;

                &::before {
                    content: "";
                    height: 2px;
                    width: 0;
                    left: 50%;
                    bottom: -2px;
                    position: absolute;
                    background: var(--color-input-shade, var(--accent));
                    transition: left 0.5s ease, width 0.5s ease;
                    z-index: 2;
                }

                
                label {
                    -webkit-transition: all 0.2s;
                    transition: all 0.2s;
                    font-weight: 400;
                }

                > .exf-inp {
                    > [name],
                    progress {
                        width: 100%;
                    }

                    > select {
                        font-size: 1rem;
                        height: 1.6rem;
                        padding: 0.125rem 0.125rem 0.0625rem;
                        margin-top: 0.15rem;
                        background: none;
                        border: none;
                        line-height: 1.6;
                        box-shadow: none;
                    }

                    > [name]:focus {
                        outline: none;
                        border: 0;
                    }

                    input,
                    label {
                        -webkit-transition: all 0.2s;
                        transition: all 0.2s;
                        font-weight: 400;
                    }
                    input,
                    textarea {
                        font-size: 1rem;
                        padding: 0.5em 0.5em 0.5em 0.5em;
                        border: 0;
                        outline: none;
                        border-radius: 0;
                        box-sizing: border-box;
                        background-color: transparent;

                        &::placeholder {
                            opacity: 0;
                            color: var(--color-placeholder, #aaa);
                        }
                    }

                    input[type="color"] {
                        min-height: 1rem;
                        padding: 0;
                    }
                }
            }

            &.exf-focus,
            &.exf-std-lbl {
                > .exf-ctl {

                    > .exf-inp {
                        > input,
                        > textarea {
                            &::placeholder {
                                opacity: 1;
                            }
                        }
                    }

                    

                    > .exf-label {
                        color: var(--color-label-active, var(--color-label));
                    }
                }
            }

            &.exf-focus {
                &.exf-base-text {
                    > .exf-ctl {
                        &::before {
                            width: 100%;
                            background: #c46;
                            background: var(--color-input-shade-focus, #ccc);
                            left: 0;
                            transition: left 0.5s ease, width 0.5s ease;
                        }
                    }
                }
            }

            &.exf-base-text,
            &[data-field-type="dropdown"] {
                > .exf-ctl {
                    border-bottom: 1px solid #666;
                    border-bottom: 1px solid var(--color-input-shade, #ccc);
                    padding-bottom: 0;
                }

                &:not(.exf-std-lbl) {
                    &.exf-filled,
                    &.exf-focus {
                        > .exf-ctl {
                            > .exf-inp {
                                input,
                                textarea {
                                    color: initial;
                                }
                            }
                            > .exf-label {
                                top: -1.2em;
                                left: 0;
                                font-size: 0.8rem;
                            }
                        }
                    }
                }

                &.exf-rng-output {
                    output {
                        position: absolute;
                        top: -1.2em;
                        font-size: 0.8rem;
                        right: 1rem;
                    }
                }

                &.exf-std-lbl {
                    > .exf-ctl {
                        > .exf-label {
                            position: absolute;
                            top: -1.2em;
                            left: 0;
                            //font-size: 0.8rem;
                        }
                    }
                }

                &[data-field-type="textconfirm"] {
                    .exf-ctl {
                        .exf-btn-cnt {
                            top: -1.7rem;
                        }
                    }
                }
            }

            .exf-help {
                margin-top: 0.2rem;
                color: var(--color-input-text);
                font-size: 0.8rem;

                &:before {
                    content: "i";
                    font-weight: 400;
                    background-color: #ddd;

                    line-height: 1rem;
                    display: inline-block;
                    padding: 0.2rem 0.5rem;
                    color: #666;
                    border-radius: 1rem;
                    margin-right: 0.2rem;
                }

                &.exf-help-error,
                &.exf-help-invalid {
                    &:before {
                        content: "!";
                        background-color: #cc4444;
                    }
                }
            }

            &.exf-invalid {
                .exf-help {
                    margin-top: 0.2rem;
                    color: var(--color-input-text);
                    font-size: 0.8rem;

                    &:before {
                        content: "i";
                        background-color: #666;
                        display: inline-block;
                        padding: 0.2rem 0.5rem;
                        color: white;
                        border-radius: 1rem;
                        margin-right: 0.2rem;
                    }

                    &.exf-help-error,
                    &.exf-help-invalid {
                        &:before {
                            content: "!";
                            background-color: #cc4444;
                        }
                    }
                }
            }

            &.exf-nmbr-btns {
                .exf-ctl {
                    > .nmbr-m {
                        float: left;
                    }

                    > .nmbr-p {
                        float: right;
                    }
                }
            }

            &.exf-switch {
                > .exf-ctl {
                    > label {
                        position: absolute !important;
                        top: -0.1rem !important;
                        left: 3.5em !important;
                        font-size: 1rem !important;
                    }
                }
            }

            &.exf-base-embed {
                > .exf-ctl {
                    > label {
                        margin-top: -2rem;
                    }

                    > .exf-embed-container {
                        margin-top: 3rem;
                    }
                }
            }

            &[data-field-type="group"] {
                padding-top: 0rem;
            }

            &[data-field-type="range"] {
                &.exf-focus {
                    .exf-ctl {
                        border: 1px solid var(--color-input-shade);
                    }
                }
                input[type="range"] {
                    appearance: none;
                    height: 2rem;

                    /* thumb */
                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;

                        height: 1rem;
                        width: 1rem;
                        border-radius: 99rem;
                        background: var(--accent);
                        cursor: grab;
                        transition: all 0.2s ease-in-out;
                    }

                    &::-moz-range-thumb {
                        -moz-appearance: none;
                        height: 1rem;
                        width: 1rem;
                        border-radius: 99rem;
                        background: var(--color-label);
                        cursor: grab;
                        transition: all 0.2s ease-in-out;
                    }

                    &::-ms-thumb {
                        -ms-appearance: none;
                        height: 1rem;
                        width: 1rem;
                        border-radius: 99rem;
                        background: var(--color-label);
                        cursor: grab;
                        transition: all 0.2s ease-in-out;
                    }

                    &:hover,
                    &:active {
                        &::-webkit-slider-thumb {
                            width: 2rem;
                            height: 2rem;
                            transition: all 0.2s ease-in-out;
                        }

                        &::-moz-range-thumb {
                            width: 2rem;
                            height: 2rem;
                            transition: all 0.2s ease-in-out;
                        }

                        &::-ms-thumb {
                            width: 2rem;
                            height: 2rem;
                            transition: all 0.2s ease-in-out;
                        }
                    }
                }
            }

            &[data-field-type="progressbar"] {
                progress {
                    appearance: none;

                    background-color: transparent;

                    &[value]::-webkit-progress-bar {
                        height: 0.3rem;
                        background-color: transparent;
                        border-radius: var(--radius);
                    }

                    &[value]::-webkit-progress-value {
                        border-radius: var(--radius);
                        background-color: var(--accent);
                    }
                }
            }
        }

        .exf-filedrop {
            > .exf-ctl {
                > .file-preview {
                    border: 1px solid transparent !important;
                }
            }
        }

        [data-field-type="radiobuttonlist"],
        [data-field-type="checkboxlist"],
        [data-field-type="checkbox"] {
            .exf-ilc-cnt {
                display: inline-block;
                position: relative;
                margin: 0 0 10px;
                font-size: 16px;
                line-height: 24px;

                [type="checkbox"],
                [type="radio"] {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 1.4rem;
                    height: 1.4rem;
                    opacity: 0;
                    z-index: 0;
                }

                // Unchecked
                > label.exf-caption {
                    margin-left: 0.8rem;
                    display: block;
                    cursor: pointer;
                }

                // Checked
                input:checked + label {
                    &:before {
                        border-color: var(--accent);
                    }

                    &:after {
                        border-color: #fff;
                    }
                }
            }
        }

        [data-field-type="checkboxlist"],
        [data-field-type="checkbox"] {
            .exf-ilc-cnt {
                > label.exf-caption {
                    &:before {
                        content: "";
                        position: absolute;
                        //background-color: var(--accent);
                        top: 0;
                        left: 0;
                        width: 1.4rem;
                        height: 1.4rem;
                        background-color: transparent;
                        border: 2px solid var(--color-input-border);
                        border-radius: 2px;
                        z-index: 1;
                        transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
                        transition-property: background-color, border-color;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        top: 0.2rem;
                        left: 0.4rem;
                        width: 0.6rem;
                        height: 0.8rem;
                        border-bottom: 2px solid transparent;
                        border-right: 2px solid transparent;
                        transform: rotate(35deg);
                        z-index: 2;
                        transition: border-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
                    }
                }

                // Checked
                input:checked + label {
                    &:before {
                        transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
                        background-color: var(--accent);
                    }
                }
            }
        }

        [data-field-type="radiobuttonlist"] {
            .exf-ilc-cnt {
                > label.exf-caption {
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1.4rem;
                        height: 1.4rem;
                        background-color: transparent;
                        border: 2px solid var(--color-input-border);
                        border-radius: 99rem;
                        z-index: 1;
                        transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
                        transition-property: background-color, border-color;
                    }
                }

                // Checked
                input:checked + label {
                    &:before {
                        transition: all 0.28s ease-in;
                        border-width: 6px;
                    }
                }
            }
        }

        .exf-input-group {
            > .exf-ctl {
                .exf-caption-main {
                    color: var(--color-input-text);
                    //margin-bottom: 0.8rem;
                }
                .exf-caption-description {
                    font-size: 0.8rem;
                    opacity: 0.7;
                }
            }
        }

        .exf-btn-cnt {
            text-align: center;
        }

        .exf-btn {
            position: relative;
            background: var(--color-button-background, #c46);
            border: 0;
            font-size: ($mf-font-size * 1.1);
            color: lighten($mf-focus-color, 10%);
            margin: ($mf-gap * 1) 0;
            padding: ($mf-gap / 2) ($mf-gap * 2);
            cursor: pointer;
            transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
            overflow: hidden;
            box-shadow: $shadow-2;

            &-compact {
                padding: ($mf-gap / 2) ($mf-gap / 2);
            }

            span {
                color: var(--color-button-text);
                position: relative;
                z-index: 1;
            }

            &::before {
                content: "";
                position: absolute;
                background: darken($mf-focus-color, 40%);
                border: 50vh solid darken($mf-focus-color, 20%);
                width: 30vh;
                height: 30vh;
                border-radius: 50%;
                display: block;
                top: 50%;
                left: 50%;
                z-index: 0;
                opacity: 1;
                transform: translate(-50%, -50%) scale(0);
            }

            &:hover:not(:disabled) {
                color: $mf-focus-color;
                box-shadow: $shadow-6;
            }

            &:active,
            &:focus {
                &::before {
                    transition: transform (0.28s * 4) ease, opacity 0.28s ease (0.28s * 1.3);
                    transform: translate(-50%, -50%) scale(1);
                    opacity: 0;
                }
            }

            &:focus {
                outline: none;
            }

            &:disabled {
                background-color: var(--color-button-disabled);
            }
        }

        .exf-txt-psx {
            .exf-txt-psx-span {
                //    top: 0.2rem;
            }
        }
    }
}
