@import "highlightjs-darkmode";

.md-converted-html {
    max-width: 90%;
    
    table {
        border: 1px solid #999;
        background-color: rgba(125,125,125, 0.05);;
        thead {
            text-align: left;
            background-color: rgba(125,125,125, 0.5);
            
        }

        tr {
            border-bottom: 1px dotted rgba(125,125,125, 0.5);
        }

        td, th{
            padding: 0.4rem 0.6rem;
        }       
    }

    img {
        max-width: 90%;
    }

    code {
        font-size: 1rem;
        font-family: Consolas, "Courier New", Courier, monospace;
    }

    pre{
        overflow: auto;
        max-width: 99%;
    }

    blockquote {
        border-left: 10px solid var(--color-highlighttext-bg, #ccc);
        padding: 0rem .5rem;
    }

    p, li {
        code {
            color: #D7BA7D;
        }
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.15rem;
    }
}