@import "pwa-functional";

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

[data-pwa-area].pwa-loading {
    background: linear-gradient(132deg, #1e1e1e, #2c2c2c, #4a4a4a);
    background-size: 400% 400%;
    animation: Gradient 2s ease infinite;
}
/* Animate Background*/
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.theme-light {
    [data-pwa-area].pwa-loading {
        background: linear-gradient(132deg, #fff, #ededed, #ccc);
        background-size: 400% 400%;
        animation: Gradient 2s ease infinite;
    }
}

.theme-dark {
    [data-pwa-area].pwa-loading {
        &:before {
            color: #fff !important;
        }
    }
}

.pwa-empty-state {
    overflow: hidden;

    &:before {
        pointer-events: none;
        position: absolute;
        content: "\e708"; //"\e668";
        margin: 1vmax;
        font-family: themify;
        font-size: 16px;
        font-size: 80vw;
        color: #000;
        opacity: 0.05;
        z-index: -2;
        overflow: hidden;
        text-overflow: clip;
        transition: all 0.2s;
        animation: pulse 5s ease infinite;
    }

    &.remove:before,
    &.add:before {
        opacity: 0;
        transition: all 0.2s;
    }
}

.pwa-notif {
    position: fixed;
    z-index: 99;
    bottom: 50px;
    width: 100%;
    text-align: center;
    overflow: hidden;

    .pwa-cnt {
        display: inline-block;
        max-width: 80%;
        position: relative;
        display: inline-block;
        border: 1px solid #ccc;
        margin: auto;
        box-shadow: 0 0 10px #999;
        background-color: white;

        > span {
            display: inline-block;
            padding: 1em;
            padding-left: 2.5em;

            &:before {
                content: "\e717";
                display: inline-block;
                padding: 3px;
                padding-left: 10px;
                font-family: themify;
                position: absolute;
                left: 3px;
            }
        }
    }

    &.move-out {
        bottom: -200px;
        transition: all 1s ease;
    }

    &.pwa-error {
        .pwa-cnt {
            border: 1px solid #aa3333;

            > span {
                &:before {
                    content: "\e720";
                    color: #aa3333;
                }
            }
        }
    }

    progress {
        appearance: none;
        padding: 0;
        border: none;
        border-radius: 0;

        clear: both;
        display: block;
        height: 2px;
        width: 100%;
        transition: width 0.5s;

        color: #aaa;
        background-color: var(--color-primary);

        /* Chrome */
        &::-webkit-progress-bar {
            background-color: var(--color-primary);
        }

        &::-moz-progress-bar {
            background-color: #ccc;
        }

        &::-webkit-progress-value {
            background-color: var(--color-shade, #bfcadb);
        }
    }
}

.theme-dark {
    .pwa-notif {
        .pwa-cnt,
        select > option {
            background-color: #444;
            color: white;
        }

        &.pwa-error {
        }
    }

    .pwa-empty-state {
        overflow: hidden;

        &:before {
            color: #fff !important;
            opacity: 1 !important;
        }
    }
}
