.exf-treeview {
    display: flexbox;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    width: 100%;
    height: 100%;

    & ul > li::first-line {
        display: none;
    }

    & ul {
        margin: 0;
        padding: 0;
        list-style: none;
        white-space: nowrap;
        overflow: visible;

        & li {
            cursor: pointer;
            text-overflow: ellipsis;
            margin-left: 1vw;

            &:hover::first-line {
                text-decoration-color: #666;
            }

            > span {
                display: inline-block;
                padding: 0.1rem 0.4rem;
                border-radius: 0.2rem;
                margin-bottom: 0.2rem;
            }

            &.selected {
                > span {
                    background-color: var(--color-highlighttext);
                }
            }

            > ul {
                display: none;
            }

            &.expanded {
                > ul {
                    display: block;
                }
            }
        }

        & li:before {
            opacity: 0.6;
            display: inline-block;
            user-select: none; /* Prevent text selection */
            transition: all 0.2s;
            margin-right: 0.3rem;
            color: var(--color-button)
        }

        & li:not(.leaf):before {
            content: "\25B7";
        }


        & li:not(.leaf).selected:before {
            content: "\25B6";
        }

        & li.leaf:before {
            content: "\25FB" /* "\25CB"; */
        }

        
        & li.selected.leaf:before {
            content: "\25FC" /* "\25C9"; */
        }

        & li:not(.leaf).expanded:before {
            transform: rotate(90deg);
            transition: all 0.2s;
        }
    }
}
