@import "exf-functional";
@import "exf-range-switch";
@import "exf-ul-drop";
@import "exf-wizard.scss";
@import "exf-filedrop";
@import "exf-fluent";

/* simple, default, lefty themes for ExoForm - form: {theme: <theme> } */

.exf-container {
    /* general defaults for all themes */

    .exf-cnt {
        border: 0;

        .exf-page-title {
            font-size: 1.2em;
            font-weight: 800;
        }

        > .btn {
            margin-right: 10px;
        }
    }

    .btn {
        padding: 0.2em;
    }

    /* specific themes */

    &.simple {
        > .exf-form {
        }
    }

    &.default {
        > .exf-form {
            margin: auto;
        }

        .exf-nav-cnt {
            button.btn {
                background-color: var(--color-button);
                color: var(--color-button-text);
            }
        }

        .exf-page-intro {
            margin-bottom: 30px;
        }

        .exf-ctl-cnt,
        .exf-nav-cnt {
            margin-bottom: 2em;
            margin-top: 20px;

            [name] {
                &::placeholder {
                    color: var(--placeholder-color);
                }
            }

            > input,
            > textarea,
            > select,
            > .btn {
                font-size: 1em;
                padding: 0.4em 0.2em 0.3em;
            }

            > textarea {
                min-height: 140px;
                padding: 10px 10px 10px 5px;
                width: 100%;
                border: 0;
                border-bottom: 1px solid #b1b1b1;

                &.code {
                    overflow: auto;
                    font-family: "Consolas", "Courier New", Courier, monospace;
                    white-space: pre;
                    outline: none;
                }
            }

            > .btn {
                cursor: pointer;
                padding: 0.3vmax 0.5vmax;
                background-color: var(--color-primary-lighter);
                border: 2px solid var(--color-primary);
                background-position: center;
                transition: background 0.8s;
                color: var(--color-button-text);
                border-radius: 2px;
                padding: 6px 9px;
                font-size: 16px;
                box-shadow: 0 0 4px var(--button-shadow-color);
                outline: none;

                cursor: pointer;
                font-size: 0.9em;
                &:hover {
                    border-color: var(--color-primary-darker);
                }

                &:active {
                    background-color: var(--color-primary-lighter);
                    background-size: 100%;
                    transition: background 0s;
                }

                &.primary {
                    background-color: var(--color-primary);
                    border: 2px solid var(--color-primary-dark);
                }
            }

            &[data-ctl-type="hidden"] {
                display: none;
            }

            > label {
                font-weight: var(--label-font-weight);
                color: var(--label-color);
                display: block;
            }

            > input {
                display: inline-block;

                border: none;
                outline: none;

                &[type="date"],
                &[type="time"],
                &[type="datetime"] {
                    position: relative;
                    padding: 0.5rem;
                    border: 1px solid #b1b1b1;
                }

                &[type="color"] {
                    min-height: 3vh;
                }
            }

            &.exf-base-text {
                > input {
                    display: block;
                    width: 100%;
                    border-bottom: 1px solid #b1b1b1;
                    color: #333;
                    transition: 0.2s ease;
                }

                > label {
                    opacity: 0.5;
                    display: inline-block;
                    color: #444;
                    font-size: 1em;
                    position: absolute;
                    pointer-events: none;
                    top: 0.3em;
                    left: 0.3em;
                    opacity: 0.5;
                    transition: 0.2s ease all;
                    -moz-transition: 0.2s ease all;
                    -webkit-transition: 0.2s ease all;
                }

                /* active state */
                > input:focus ~ label,
                > input:valid ~ label,
                > textarea:focus ~ label {
                    top: -1.6em;
                    font-size: 0.8em;
                    color: #a0a0a0;
                    opacity: 1;
                }

                > input:not(:placeholder-shown) ~ label,
                > textarea:not(:placeholder-shown) ~ label,
                > select ~ label {
                    top: -1.3em;
                    font-size: 0.8em;
                    color: #a0a0a0;
                    opacity: 1;
                }
            }

            // to align labels with .exf-base-text labels
            &.exf-label-sup {
                label {
                    top: -1.3em;
                    font-size: 0.8em;
                    color: #a0a0a0;
                    opacity: 1;
                }
            }

            > input:focus,
            > textarea:focus {
                outline: none;
                opacity: 1;
            }

            &.exf-dirty {
                input:invalid {
                    box-shadow: 0 0 5px 1px red;
                }

                input:focus:invalid {
                    box-shadow: none;
                }
            }

            > select {
                padding: 0.2em;
                font-size: 1em;
                border: 1px solid #ccc;
                outline: none;
                width: 100%;
            }
        }
    }

    &.lefty {
        > .exf-form {
            padding: 10px;
            height: 100%;
            overflow: auto;
            .exf-nav-cnt {
                padding-top: 10px;
            }

            .btn {
                outline: none;
                border: 2px solid rgba(0, 0, 0, 0.1);
                display: inline-block;
                position: relative;
                float: left;
                padding: 1em 2em;
                text-align: center;
                background-color: hsl(150, 0%, 50%);
                color: white;
                border-radius: 5px;
                transition: all 0.2s;
                box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.1);
                &:hover {
                    background-color: rgba(0, 188, 126, 0.8);
                    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
                }
                &:active {
                    border-radius: 8px;
                    box-shadow: none;
                }

                margin-right: 1em;
            }

            .exf-cnt {
                background-color: rgba(100, 100, 111, 0.02);
                border: 1px solid rgba(100, 100, 111, 0.1);

                padding: 2em;

                .exf-page-title {
                    font-weight: 300;
                    font-size: 2em;
                }

                .exf-ctl-cnt {
                    margin-bottom: 10px;
                    padding: 5px;

                    [name] {
                        outline: none;
                        border: 0;
                        padding: 0.6em;
                    }

                    > label {
                        float: left;
                        width: 200px;
                        text-align: right;
                        display: inline-block;
                        margin-right: 1em;
                    }
                }
            }
        }
    }

    
}
