.exf-container {
    [class^="exf-cols-"],
    [class*=" exf-cols-"] {
        display: grid;
        grid-column-gap: 10px;

        .exf-ctl-cnt {
            &.exf-base-text {
                > input[name] {
                    width: auto !important;
                }
            }
        }
    }

    .exf-required:not(.exf-lbl-empty) > .exf-ctl > label::after {
        position: absolute;
        margin-left: .2rem;
        margin-top: -.2rem;
        content: " *";
        color: inherit;
        color: var(--color-label-active);
        vertical-align: super;
    }

    // make sure multi-input grid inputs fill out
    .exf-cnt.exf-ctl-group.grid .exf-ctl-cnt > [name] {
        width: 100%;
    }

    .exf-wrapper {
        height: 100%;

        .exf-page {
            display: none;

            &.active {
                display: block;
            }
        }
    }

    .exf-embed-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25% !important; /* 16:9*/

        &.ar-4x3 {
            padding-top: 75% !important; /* 4:3 */
        }

        > iframe {
            border: 0;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .exf-info {
        box-shadow: -3px 3px 10px -2px rgba(255, 255, 255, 0.1);
        padding: 1em;
    }

    .exf-nav-cnt {
        clear: both;
    }

    &.single-page {
        .exf-page {
            display: block;
        }

        .exf-nav-cnt {
            [name="prev"],
            [name="next"] {
                display: none;
            }
        }
    }

    .exf-hidden {
        display: none!important;
    }

    .exf-error {
        display: inline-block;
        padding: 0.2em;
        margin-top: 2rem;
        color: red;
        border: 1px solid red;
    }

    .exf-page {
        padding-top: 1rem;

        > .exf-ctl-cnt {
            position: relative;
            margin-bottom: 2em;

            .exf-label{
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }


            // nested
            .exf-ctl-cnt {
                margin-bottom: 1em;
            }

            &.exf-input-group .exf-ctl {
                > div {
                    clear: both;
                    //text-align: left;
                    margin: auto;
                    white-space: normal;

                    > label {
                        display: inline-block;
                        width: 30%;
                        overflow: hidden;
                        padding: 5px;
                        //margin-bottom: 1em;

                        > input {
                            width: 30px;
                            height: auto;
                        }

                        > .exf-caption {
                            display: inline-block;
                            height: auto;
                            width: calc(100% - 70px);

                            vertical-align: text-top;
                            padding: 0.2rem 0.4rem 0.2rem 0.1rem;
                            margin-right: 1rem;

                            .exf-caption-description {
                                height: 5em;

                                &:empty {
                                    height: 0;
                                }
                            }
                        }
                    }
                }

                &.block {
                    > div {
                        > label {
                            display: block;
                            width: auto;
                        }
                    }
                }
            }

            &.exf-rng-output {
                output {
                    display: inline-block;
                    vertical-align: text-top;
                }
            }

            &.exf-nmbr-btns {
                > .exf-ctl {
                    text-align: center;

                    > [name] {
                        width: auto !important;
                        min-width: 50px;
                        margin: auto;
                        text-align: center;
                    }

                    > input::-webkit-outer-spin-button,
                    > input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    > .nmbr-m,
                    > .nmbr-p {
                        outline: none;
                        display: inline-block;
                    }

                    > .exf-label {
                        top: -1.7em !important;
                        
                    }
                }
            }

            &.exf-input-group {
                margin-top: 1rem;
                > .exf-ctl > div {
                    padding-top: 1rem;

                    .exf-ilc-cnt {
                        margin-bottom: 1rem;
                        display: block;
                        width: 100%;

                        > input {
                            float: left;
                        }

                        .exf-caption {
                            padding-left: 1rem;
                            display: inline-block;

                            .exf-caption-description {
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }

            .exf-ctl {
                // https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/
                &.autogrow {
                    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
                    display: grid;

                    &::after {
                        /* Note the weird space! Needed to preventy jumpy behavior */
                        content: attr(data-replicated-value) " ";

                        /* This is how textarea text behaves */
                        white-space: pre-wrap;

                        /* Hidden from view, clicks, and screen readers */
                        visibility: hidden;
                    }
                    textarea {
                        /* You could leave this, but after a user resizes, then it ruins the auto sizing */
                        resize: none;

                        /* Firefox shows scrollbar on growth, you can hide like this. */
                        overflow: hidden;
                    }
                    textarea,
                    &::after {
                        /* Identical styling required!! */
                        font: inherit;

                        /* Place on top of each other */
                        grid-area: 1 / 1 / 2 / 2;
                    }
                }
            }
        }
    }

    .exf-info {
        font-size: 1.1rem;
        background-color: var(--color-shade);
        background-color: var(--color-shade);
        padding: 0em 1em 1em;
        border: 1px solid var(--button-shadow-color);
        position: relative;

        .exf-info-title {
            font-size: 1.4rem;
        }

        .exf-info-icon {
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .exf-info-body {
            font-size: 1rem;
        }

        &.hero {
            margin: 2em;
            font-size: 1.4rem;

            .exf-info-title {
                font-size: 2rem;
            }
        }
    }

    .exf-cols-10em-1fr {
        grid-template-columns: 10em 1fr;
    }

    .exf-cols-20em-1fr {
        grid-template-columns: 20em 1fr;
    }

    .exf-cols-50-50 {
        grid-template-columns: 1fr 1fr;
    }

    .exf-cols-20-60-20 {
        grid-template-columns: 20% 60% 20%;
    }

    .exf-cols-40-60 {
        grid-template-columns: 40% 60%;
    }

    .exf-cols-10em-10em {
        grid-template-columns: 10em 10em;
    }

    .exf-cols-20em-20em-1fr {
        grid-template-columns: 20em 20em 1fr;
    }
}
