.exf-container {
    [class^="exf-cols-"],
    [class*=" exf-cols-"] {
        display: grid;
        grid-column-gap: 10px;

        .exf-ctl-cnt {
            &.exf-base-text {
                > input[name] {
                    width: auto !important;
                }
            }
        }
    }

    .exf-required > label::after {
        content: " *";
        color: red;
    }

    // temp - move to xo
    .exf-info {
        font-size: 1.1rem;
        background-color: var(--color-shade);
        background-color: var(--color-shade);
        padding: 0em 1em 1em;
        border: 1px solid var(--button-shadow-color);
        position: relative;

        .exf-info-title {
            font-size: 1.4rem;
        }

        .exf-info-icon {
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .exf-info-body {
            font-size: 1rem;
        }

        &.hero{
            margin: 2em;
            font-size: 1.4rem;

            .exf-info-title {
                font-size: 2rem;
            }
        }
    }

    .exf-cols-10em-1fr {
        grid-template-columns: 10em 1fr;
    }

    .exf-cols-20em-1fr {
        grid-template-columns: 20em 1fr;
    }

    .exf-cols-50-50 {
        grid-template-columns: 1fr 1fr;
    }

    .exf-cols-20-60-20 {
        grid-template-columns: 20% 60% 20%;
    }

    .exf-cols-40-60 {
        grid-template-columns: 40% 60%;
    }

    .exf-cols-10em-10em {
        grid-template-columns: 10em 10em;
    }

    .exf-cols-20em-20em-1fr {
        grid-template-columns: 20em 20em 1fr;
    }
    
    // make sure multi-input grid inputs fill out
    .exf-cnt.exf-ctl-group.grid .exf-ctl-cnt > [name] {
        width: 100%;
    }

    .exf-wrapper {
        height: 100%;

        .exf-page {
            display: none;

            &.active {
                display: block;
            }
        }
    }

    .exf-embed {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%!important; /* 16:9*/

        &.ar-4x3 {
            padding-top: 75%!important; /* 4:3 */
        }

        > iframe {
            border: 0;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
         }
    }

    .exf-info {
        box-shadow: -3px 3px 10px -2px rgba(255, 255, 255, 0.1);
        padding: 1em;
    }

    .exf-nav-cnt {
        clear: both;
    }

    &.single-page {
        .exf-page {
            display: block;
        }

        .exf-nav-cnt {
            [name="prev"],
            [name="next"] {
                display: none;
            }
        }
    }

    .exf-error {
        display: inline-block;
        padding: 0.2em;
        color: red;
        border: 1px solid red;
    }

    .exf-ctl-cnt {
        position: relative;
        margin-bottom: 1em;

        &.exf-input-group {
            > div {
                clear: both;
                //text-align: left;
                margin: auto;
                white-space: normal;

                > label {
                    display: inline-block;
                    width: 30%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding: 5px;
                    > input {
                        width: 30px;
                        height: auto;
                    }
                }
            }

            &.block {
                > div {
                    > label {
                        display: block;
                        width: auto;
                    }
                }
            }
        }
    }
}
