.exf-dlg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 99999;


    &.c-mdl{
        opacity:0;
        pointer-events: none;
    }
    
    &.c-mdl:target {
        opacity:1;
        pointer-events: auto;
    }
    
    > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 10px;
        border-radius: 4px;
        background: #fff;
        -webkit-box-shadow: 10px 10px 25px -13px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 25px -13px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 25px -13px rgba(0,0,0,0.75);
    }
    
    .exf-dlg-b {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #aaa;
        margin-bottom: 1em;
    }
    
    .dlg-bc{
        float: right;
        padding: 1px 8px;
        border: 0;
    }
    
    .dlg-x.dismiss {
        display: none;
    }
    
    &.dlg-cv .dlg-x.dismiss {
        display: inline-block;
    }
    
    .exf-dlg-t {
        font-size: 1.2em;
        font-weight: 800;
    }
    

}

