@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

main {
    display: grid;

    grid-template-columns: 200px 1fr;
}

:root {
    --color: #333;
    --color-text: #333;
    --color-shade: #ccc;
    --color-button: hsl(340, 87%, 65%);
    --color-button-disabled: hsl(340, 0%, 65%);
    --field-box-shadow-subtle: #dedede;
    --color-label-active: rgb(173, 58, 4);
    --color-label: #333;
    --color-input-shade: rgba(0, 0, 0, 0.2);
    --color-input-shade-focus: rgb(173, 58, 4);
}

html,
body {
    height: 100%;

    font-family: Roboto;
}

body {
    overflow: hidden;
    display: grid;
    grid-template-rows: 50px 1fr 30px;
    height: 100%;
    color: #333;
    color: var(--color);

    background-color: #efefef;
    margin: 0;
    padding: 0;

    header {
        background-color: rgba(0, 0, 0, 0.15);
    }

    footer {
        background-color: rgba(0, 0, 0, 0.15);
    }
}

#xo-test {
    .exf-container {
        &.exf-theme-material {
            margin-top: 2rem;

            #xo-test .exf-wrapper fieldset {
                overflow-y: auto;
            }

            form {
                width: 70%;
                margin: auto;
                box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.15);
                border-radius: 1em;
                padding: 1em;
            }

            legend {
                background-color: #efafaf;
                padding: 0.3em 0.7em;
                border-radius: 0.3em;
            }

            fieldset {
                border: 0;
                margin-top: 1em;
            }
        }

        &.exf-theme-none {
            .exf-wrapper {
                text-align: center;
            }

            padding-top: 0.5rem;
            fieldset {
                margin: auto;
                border: 0;
                padding: 0;

                .exf-ctl-cnt {
                    text-align: left;
                    input {
                        padding: 0.4rem 0.8rem;
                    }
                }
            }
        }
    }
}

footer {
    padding: 1rem;
    overflow: auto;
    background: #333;
    color: #ff2233;
}

[data-pwa-area="main"] {
    overflow-y: auto;
    height: 100vh;
}

nav.main-menu {
    padding: 0;

    ul {
        margin: 0;
        list-style: none;

        li {
            margin: 0 0 2px 0;
            padding: 0;
            border: 1px solid #ccc;
            background-color: #eee;
            transition: all 0.2s;

            a {
                display: block;
                padding: 1em;
                margin: 2px;
                text-decoration: none;

                &:link,
                &:visited,
                &:active {
                    color: #666;
                }
            }

            &:hover {
                background-color: #fefefe;
                transition: all 0.2s;
            }

            &.selected {
                background-color: #fdd;
            }
        }
    }
}
