.exf-le-btn {
    position: absolute !important;
    right: 5px !important;
    z-index: 99;
    padding: 0.5rem 0.7rem;
    margin-top: -15px !important;
}

.exf-le-cnt {
    .exf-page {
        display: block !important;
        border: 3px dotted #ccc !important;

        .exf-ctl-cnt {
            //border: 1px dotted transparent!important;    
            box-shadow: 1px -2px 34px 7px rgba(0,0,0,0);
        }
    }

    .ul-tabs {
        > ul {
            > li {
                display: block;

                > input[type="radio"]:not(:checked):not(:disabled) ~ div,
                > input[type="radio"]:checked:not(:disabled) ~ div,
                > input[type="radio"]:checked:disabled ~ div {
                    display: block !important;
                    width: 100%;
                    position: relative !important;
                }
            }
        }
    }



    .exf-ctl-cnt.exf-le-active {
        box-shadow: 1px -2px 34px 7px rgba(0,0,0,0.48);
        transition: background-color 200ms linear;
        border-radius: 0.4rem;
        position: relative !important;

        .exf-le-ctx {
            position: absolute !important;
            right: 10px;
            top: -10px;
            display: inline-block;
        }
    }
}

.exf-le-dlg {
    .exf-page {
        margin-top: 1rem !important;

        height: 400px !important;

        .exf-help-wrapper{
            .exf-help {
                visibility: hidden;
            }
        }
        

        .exf-fld-details:hover {
            .exf-help {
                visibility: hidden;
            }
        }
    }

    .exf-cnt.exf-nav-cnt {
        display: none;
    }
}
