.exf-dropdown-cnt {
  width: fit-content;
  position: relative;
  &:hover .exf-btn-dropdown {
    display: inline-table;
  }
  .exf-btn {
    margin: 0 !important;
    display: flex;
    align-items: center;
  }
  ul.exf-btn-dropdown {
    min-width: calc(100% - 2px);
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid var(--color-dropdown-border, #ccc);
    text-align: left;
    background-color: var(--color-dropdown-bg, #ddd);
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
    list-style: none;
    z-index: 99;
    animation: slideDown 300ms ease-in-out forwards;
    transform-origin: top center;
    > li {
      cursor: pointer;
      white-space: nowrap;
      &:hover {
        background-color: var(--color-dropdown-hover, #eee);
      }
      a {
        display: block;
        padding: 0.5rem 0.75rem;
        color: var(--color-dropdown-text);
        font-size: 0.9em;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    &.right{
      right: auto;
      left: 0;
    }
  }

  &.drop-dir-left {
    ul.exf-btn-dropdown{
      animation: slideLeft 300ms ease-in-out forwards;
      transform-origin: right center;

      position: absolute !important;
      top: 0 !important;
      right: 100% !important;
    }

    > .exf-btn {
      display: flex;
      align-items: center;
    }
    > .exf-btn-dropdown {
      white-space: nowrap;
    }

    &:hover .exf-btn-dropdown {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    z-index: -1;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    z-index: 1;
    transform: translateX(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
