@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

main {
    padding: 1rem;
    overflow: auto;

}

:root {
    --color: #333;
    --color-text: #333;
    --color-shade: #ccc;
    --color-button: hsl(340, 87%, 65%);
    --color-button-disabled: hsl(340, 0%, 65%);
    --field-box-shadow-subtle: #dedede;
    --color-label-active: rgb(173, 58, 4);
    --color-label: #333;
    --color-input-shade: rgba(0, 0, 0, 0.2);
    --color-input-shade-focus: rgb(173, 58, 4);
}

html,
body {
    height: 100vh;
    overflow: hidden;
    font-family: Roboto;
}

body {
    
    display: grid;
    grid-template-rows: 50px 1fr 30px;
   
    color: #333;
    color: var(--color);

    background-color: #efefef;
    margin: 0;
    padding: 0;

    header {
        background-color: rgba(0, 0, 0, 0.15);
    }

    footer {
        background-color: rgba(0, 0, 0, 0.15);
        text-align: center;
        font-size: smaller;
        padding-top: 5px;
    }
}

#xo-test {
    .md-converted-html {
        max-width: 90%;
        

        img {
            width: 90%;
            max-width: 900px;
        }

        code {
            font-size: 1rem;
            font-family: Consolas, "Courier New", Courier, monospace;
        }

        blockquote {
            border-left: 10px solid #c04e58;
            padding: 0.5rem 1rem;
        }
    }

    .products-mock {
        > div {
            margin-top: 1rem;
            display: grid;
            grid-template-columns: 1fr 60px;

            small {
                color: rgba(0, 0, 0, 0.5);
            }

            &.selected {
                background-color: yellow
            }
        }
    }

    .exf-container {
        &.exf-theme-material {
            margin-top: 2rem;

            #xo-test .exf-wrapper fieldset {
                overflow-y: auto;
            }

            form {
                width: 70%;
                margin: auto;
                box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.15);
                border-radius: 1em;
                padding: 1em;
            }

            legend {
                background-color: #efafaf;
                padding: 0.3em 0.7em;
                border-radius: 0.3em;
            }

            fieldset {
                border: 0;
                margin-top: 1em;
            }
        }

        &.pwa-omnibox {
            .exf-wrapper {
                text-align: center;
            }

            padding-top: 0.5rem;
            fieldset {
                margin: auto;
                border: 0;
                padding: 0;

                .exf-ctl-cnt {
                    text-align: left;
                    input {
                        padding: 0.6rem 0.9rem;
                        border: 2px solid rgba(0, 0, 0, 0.2);
                        border-radius: 0.5rem;
                        outline: none;

                        &:focus {
                            border-color: rgba(200, 0, 0, 0.4);
                        }
                    }
                }
            }
        }

        .compact.exf-ctl-cnt {
            padding: 0!important;
            margin: 0!important;

            .exf-ctl-group {
                padding: 0!important;
                margin: 0!important;
                padding-top: 1rem!important;
            }
        }

        
    }
}

nav.main-menu {
    padding: 0;

    ul {
        margin: 0;
        list-style: none;

        li {
            margin: 0 0 2px 0;
            padding: 0;
            border: 1px solid #ccc;
            background-color: #eee;
            transition: all 0.2s;

            a {
                display: block;
                padding: 1em;
                margin: 2px;
                text-decoration: none;

                &:link,
                &:visited,
                &:active {
                    color: #666;
                }
            }

            &:hover {
                background-color: #fefefe;
                transition: all 0.2s;
            }

            &.selected {
                background-color: #fdd;
            }
        }
    }
}
