.exf-le-btn {
    position: absolute !important;
    right: 5px !important;
    z-index: 99;
    padding: 0.5rem 0.7rem;
    margin-top: -15px !important;

    button {
        outline: none;
        border: 1px solid #333;
    }

    &.active {
        button {
            background-color: rgb(224, 78, 24);
            color: white;
            border-color: transparent;
        }
    }
}

.exf-le-cnt {
    .exf-page {
        display: block !important;
        border: 3px dotted #ddd !important;

        .exf-le-cnt {
            min-height: 3rem;
            position: relative;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: .5rem;
            border-radius: .5rem;

            border: 3px dotted #999;

            &:hover{
                border-color:rgb(224, 78, 24);

                .exf-le-fd {
                    //text-decoration: underline;
                    //cursor: pointer;
                    display: initial;
                }
            }
        }

        .exf-le-fd {
            position: absolute;
            top: 5px;
            right: 5px;
            display: none;
            margin: 0;
            // color: #999;
            // font-size: smaller;
            // font-style: italic;
        }

        
    }

    .ul-tabs {
        > ul {
            > li {
                display: block;

                > input[type="radio"]:not(:checked):not(:disabled) ~ div,
                > input[type="radio"]:checked:not(:disabled) ~ div,
                > input[type="radio"]:checked:disabled ~ div {
                    display: block !important;
                    width: 100%;
                    position: relative !important;
                }
            }
        }
    }

    .exf-le-active {
        
        // .exf-le-fd {
        //     text-decoration: underline;
        //     cursor: pointer;
        // }

        // box-shadow: 1px -2px 34px 7px rgba(0, 0, 0, 0.48);
        // transition: background-color 200ms linear;
        // border-radius: 0.4rem;
        // position: relative !important;

        // .exf-le-ctx {
        //     position: absolute !important;
        //     right: 10px;
        //     top: -10px;
        //     display: inline-block;
        // }
    }
}

.exf-le-dlg {
    .exf-page {
        margin-top: 1rem !important;

        height: 400px !important;

        .exf-help-wrapper {
            .exf-help {
                visibility: hidden;
            }
        }

        .exf-fld-details:hover {
            .exf-help {
                visibility: hidden;
            }
        }
    }

    .exf-cnt.exf-nav-cnt {
        display: none;
    }
}
