.nsp-grid {
  /* general styling */
}

.nsp-grid html,
.nsp-grid body {
  height: 100%;
  margin: 0;
}

.nsp-grid body {
  display: -ms-grid;
  display: grid;
}

.nsp-grid.nsp-grid-3rc, .nsp-grid.nsp-grid-3r {
  overflow: hidden;
  height: 100vh;
}

.nsp-grid.nsp-grid-3rc header, .nsp-grid.nsp-grid-3r header {
  height: 100%;
}

.nsp-grid.nsp-grid-3rc body, .nsp-grid.nsp-grid-3r body {
  height: 100vh;
  -ms-grid-rows: minmax(4vh, 40px) 1fr 30px;
      grid-template-rows: minmax(4vh, 40px) 1fr 30px;
}

.nsp-grid.nsp-grid-3rc.nsp-xs body, .nsp-grid.nsp-grid-3r.nsp-xs body {
  -ms-grid-rows: minmax(3vh, 40px) 1fr 0px;
      grid-template-rows: minmax(3vh, 40px) 1fr 0px;
}

.nsp-grid.nsp-grid-3rc.nsp-xs body footer, .nsp-grid.nsp-grid-3r.nsp-xs body footer {
  display: none;
}

.nsp-grid.nsp-grid-3rc.nsp-xs body main, .nsp-grid.nsp-grid-3r.nsp-xs body main {
  -ms-grid-columns: none;
      grid-template-columns: none;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.nsp-grid.nsp-grid-3rc.nsp-xs body main [data-pwa-area].pwa-pinnable::before, .nsp-grid.nsp-grid-3r.nsp-xs body main [data-pwa-area].pwa-pinnable::before {
  content: "\e6dd";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: inline-block;
  padding: 3px;
  font-family: themify;
  position: absolute;
  font-size: 18px;
  width: auto;
  height: auto;
  right: 10px;
  left: auto;
  top: 10px;
  color: var(--color-text);
  font-weight: 800;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nsp-grid.nsp-grid-3rc.nsp-xs body main [data-pwa-area].pwa-pinnable:hover::before, .nsp-grid.nsp-grid-3r.nsp-xs body main [data-pwa-area].pwa-pinnable:hover::before {
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nsp-grid.nsp-grid-3rc.nsp-xs body main [data-pwa-area].pwa-pinnable.pin-active:hover::before, .nsp-grid.nsp-grid-3r.nsp-xs body main [data-pwa-area].pwa-pinnable.pin-active:hover::before {
  color: #bb3444;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nsp-grid.nsp-grid-3rc.nsp-xs body main [data-pwa-area].pwa-pinnable.pinned, .nsp-grid.nsp-grid-3r.nsp-xs body main [data-pwa-area].pwa-pinnable.pinned {
  bottom: 0px !important;
  left: 0px !important;
}

.nsp-grid.nsp-grid-3rc.nsp-xs body main [data-pwa-area].pwa-pinnable.pinned::before, .nsp-grid.nsp-grid-3r.nsp-xs body main [data-pwa-area].pwa-pinnable.pinned::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.nsp-grid.nsp-grid-3rc.nsp-xs body main [data-pwa-area].pwa-pinnable.pinned:hover::before, .nsp-grid.nsp-grid-3r.nsp-xs body main [data-pwa-area].pwa-pinnable.pinned:hover::before {
  color: var(--color-text);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nsp-grid.nsp-grid-3rc.nsp-xs body main [data-pwa-area="menu"], .nsp-grid.nsp-grid-3r.nsp-xs body main [data-pwa-area="menu"] {
  -webkit-box-shadow: 2px 3px 24px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 3px 24px -12px rgba(0, 0, 0, 0.75);
  position: absolute;
  z-index: 1;
  width: 200px;
  left: -185px;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nsp-grid.nsp-grid-3rc.nsp-xs body main [data-pwa-area="menu"]:hover:not(.clicked), .nsp-grid.nsp-grid-3r.nsp-xs body main [data-pwa-area="menu"]:hover:not(.clicked) {
  left: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nsp-grid.nsp-grid-3rc.nsp-xs body main [data-pwa-area="menu"].clicked, .nsp-grid.nsp-grid-3r.nsp-xs body main [data-pwa-area="menu"].clicked {
  left: -185px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.nsp-grid.nsp-grid-3rc.nsp-xs body main [data-pwa-area="menu"]:before, .nsp-grid.nsp-grid-3r.nsp-xs body main [data-pwa-area="menu"]:before {
  content: "\e6e5";
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: inline-block;
  padding: 3px;
  font-family: themify;
  position: absolute;
  font-size: 18px;
  width: auto;
  height: auto;
  right: -4px;
  top: 50%;
  color: var(--color-text);
  font-weight: 800;
}

.nsp-grid.nsp-grid-3rc.nsp-xs body main [data-pwa-area="main"], .nsp-grid.nsp-grid-3r.nsp-xs body main [data-pwa-area="main"] {
  margin-left: 20px;
  margin-right: 10px;
}

.nsp-grid.nsp-grid-3rc.nsp-xs body main [data-pwa-area="panel"], .nsp-grid.nsp-grid-3r.nsp-xs body main [data-pwa-area="panel"] {
  -webkit-box-shadow: 0px -3px 24px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -3px 24px -12px rgba(0, 0, 0, 0.75);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 200px;
  bottom: -175px;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nsp-grid.nsp-grid-3rc.nsp-xs body main [data-pwa-area="panel"]:hover, .nsp-grid.nsp-grid-3r.nsp-xs body main [data-pwa-area="panel"]:hover {
  bottom: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nsp-grid.nsp-grid-3rc.nsp-xs body main [data-pwa-area="panel"]:before, .nsp-grid.nsp-grid-3r.nsp-xs body main [data-pwa-area="panel"]:before {
  content: "\e6e5";
  display: inline-block;
  padding: 3px;
  font-family: themify;
  position: absolute;
  font-size: 18px;
  width: auto;
  height: auto;
  bottom: 181px;
  left: 50%;
  color: black;
  font-weight: 800;
}

.nsp-grid.nsp-grid-3rc.nsp-uw body main, .nsp-grid.nsp-grid-3r.nsp-uw body main {
  -ms-grid-columns: minmax(20vw, 300px) 1fr minmax(20vw, 300px);
      grid-template-columns: minmax(20vw, 300px) 1fr minmax(20vw, 300px);
}

.nsp-grid.nsp-grid-3rc body main {
  display: -ms-grid;
  display: grid;
  overflow-y: hidden;
  -ms-grid-columns: minmax(10vw, 200px) 1fr minmax(10vw, 300px);
      grid-template-columns: minmax(10vw, 200px) 1fr minmax(10vw, 300px);
}

.nsp-grid.nsp-grid-3rc body main [data-pwa-area="main"] {
  padding: 10px;
  overflow: auto;
}

.nsp-grid.nsp-grid-3rc body.nsp-uw main {
  -ms-grid-columns: minmax(15vw, 350px) 1fr minmax(15vw, 350px);
      grid-template-columns: minmax(15vw, 350px) 1fr minmax(15vw, 350px);
}
/*# sourceMappingURL=pwa-grid.css.map */