.nsp-grid {
    /* general styling */
    html,
    body {
        height: 100%;
        margin: 0;
    }

    body {
        display: grid;
    }

    &.nsp-grid-3rc {
        overflow: hidden;
        height: 100vh;

        header {
            height: 100%;
        }

        body {
            height: 100vh;
            grid-template-rows: minmax(4vh, 40px) 1fr 30px;

            main {
                display: grid;
                overflow-y: hidden;
                grid-template-columns: minmax(10vw, 200px) 1fr minmax(10vw, 300px);

                [data-pwa-area="main"] {
                    padding: 10px;

                    overflow: auto;
                }


            }

            &.nsp-uw {
                main {
                    grid-template-columns: minmax(15vw, 350px) 1fr minmax(15vw, 350px);
                }
            }
        }

        &.nsp-xs {
            body {
                grid-template-rows: minmax(3vh, 40px) 1fr 0px;

                footer {
                    display: none;
                }

                main {
                    grid-template-columns: none;
                    grid-template-rows: 1fr;

                    //overflow-y: hidden;

                    [data-pwa-area] {
                        &.pwa-pinnable {
                            &::before {
                                content: "\e6dd";
                                transform: rotate(90deg);
                                display: inline-block;
                                padding: 3px;
                                font-family: themify;
                                position: absolute;
                                font-size: 18px;
                                width: auto;
                                height: auto;
                                right: 10px;
                                left: auto;
                                top: 10px;
                                color: var(--color-text);

                                font-weight: 800;
                                transition: all 0.2s;
                            }

                            &:hover {
                                &::before {
                                    transform: rotate(80deg);
                                    transition: all 0.2s;
                                }
                            }

                            &.pin-active {
                                &:hover {
                                    &::before {
                                        color: #bb3444;
                                        transform: rotate(10deg);
                                        transition: all 0.2s;
                                    }
                                }
                            }

                            &.pinned {
                                bottom: 0px !important;
                                left: 0px !important;

                                &::before {
                                    transform: rotate(0deg);
                                }

                                &:hover {
                                    &::before {
                                        color: var(--color-text);
                                        transition: all 0.2s;
                                    }
                                }
                            }
                        }
                    }

                    [data-pwa-area="menu"] {
                        box-shadow: 2px 3px 24px -12px rgba(0, 0, 0, 0.75);
                        position: absolute;
                        z-index: 1;
                        width: 200px;
                        left: -185px;
                        height: 100%;
                        transition: all 0.5s;

                        &:hover:not(.clicked) {
                            left: 0px;
                            transition: all 0.5s;
                        }

                        &.clicked {
                            left: -185px;
                            transition: all 0.1s;
                        }

                        &:before {
                            content: "\e6e5";
                            transform: rotate(-90deg);
                            display: inline-block;
                            padding: 3px;
                            font-family: themify;
                            position: absolute;
                            font-size: 18px;
                            width: auto;
                            height: auto;
                            right: -4px;
                            top: 50%;
                            color: var(--color-text);
                            font-weight: 800;
                        }
                    }

                    [data-pwa-area="main"] {
                        margin-left: 20px;
                        margin-right: 10px;
                        //overflow: auto;
                    }

                    [data-pwa-area="panel"] {
                        box-shadow: 0px -3px 24px -12px rgba(0, 0, 0, 0.75);
                        position: absolute;
                        z-index: 1;
                        width: 100%;
                        height: 200px;
                        bottom: -175px;
                        left: 0;
                        transition: all 0.5s;

                        &:hover {
                            bottom: 0px;
                            transition: all 0.5s;
                        }

                        &:before {
                            content: "\e6e5";

                            display: inline-block;
                            padding: 3px;
                            font-family: themify;
                            position: absolute;
                            font-size: 18px;
                            width: auto;
                            height: auto;
                            bottom: 181px;
                            left: 50%;
                            color: black;
                            font-weight: 800;
                        }
                    }
                }
            }
        }

        &.nsp-uw {
            body {
                main {
                    grid-template-columns: minmax(20vw, 300px) 1fr minmax(20vw, 300px);
                }
            }
        }
    }
}

.nsp-sm {
}

.nsp-md {
}

.nsp-lg {
}
