.ul-tabs {
    //width: 100%;
    //min-height: 100px;
    position: relative;
    //color: var(--color-text);

    > ul,
    > ul > li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    > ul {
        overflow-x: auto;
        //width: 100%;
        //white-space: nowrap;

        > li {
            display: inline-block;

            vertical-align: top;

            &:first-child {
                margin-left: 8px;
            }

            > input[type="radio"] + label {
                margin: 0 2px 0 0;
                padding: 0 18px;
                line-height: 32px;
                background: var(--color-background-variation, #eee);
                text-align: center;
                border-radius: 5px 5px 0 0;
                cursor: pointer;
                -moz-user-select: none;
                -webkit-user-select: none;
                user-select: none;
                border: solid 1px var(--color-shade, #bfcadb);
            }

            > input[type="radio"]:checked + label {
                z-index: 1;
                background: var(--color-tab-background, white);
                border-bottom-color: var(--color-tab-background, white);
                cursor: default;
            }

            > input[type="radio"] {
                opacity: 0;
                position: absolute;
            }

            > input[type="radio"] ~ div {
                display: none;
            }

            > input[type="radio"]:checked:not(:disabled) ~ div {
                display: block;
            }

            > input[type="radio"]:disabled + label {
                opacity: 0.5;
                cursor: no-drop;
            }

            > input[type="radio"]:checked + label {
                position: relative;
            }

            > input[type="radio"] + label {
                display: inline-block;
            }

            > div {
                top: 33px;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 0px;
                overflow: auto;
                background: var(--color-tab-background, white);
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;

                position: absolute;
                border: solid 1px var(--color-shade, #bfcadb);
            }
        }
    }
}

.exf-navigation-tabstrip {
    .exf-nav-tabs {
        margin: 1rem;

        > ul > li > div {
            .exf-page.exf-ctl-cnt {
                margin-top: 0 !important;
                padding-top: 0;
            }
        }
    }

    > .exf-form {
        position: relative;
        > .exf-nav-cnt {
            margin: 0;
            padding: 0;
            position: absolute;
            top: 40px;
            right: 25px;

            > .exf-ctl-cnt {
                margin: 0;
                padding: 0;

                .exf-btn {
                    padding: 0.2rem 0.4rem;
                }
            }
        }
    }
}
