@import "pwa";
@import "xo";
@import "xo-brand";
@import "xo-theme";
@import "exf-scrollbar";
@import "markdown";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");

.ul-tabs.full-height {
    .exf-container,
    .exf-wrapper {
        display: flex;
        flex-flow: column;
        height: 100%;
        flex: 1 1 auto;
    }
}

.render-panel {
    background-color: var(--color-background-variation);
    overflow-y: auto;
    border-bottom: 3px solid var(--color-background);
    margin-bottom: 1rem;
}

#start-wiz {
    form {
        .exf-cnt.exf-nav-cnt {
            position: fixed;
            bottom: 30px;
        }
    }
}

#features {
    padding: 1rem;
}

main{
    border-top: 1px solid #999;
}

#xo-portal [data-pwa-area] .ul-tabs.full-height .exf-page.full-height{
   margin-bottom: 35px;
}

#xo-portal {
    body {
        grid-template-rows: 55px 1fr 30px;

        #app-title {
            display: none;
        }

        article.exf-lv-item {
            background-color: var(--color-background-variation);
            border-radius: 1rem;
            padding: 1rem;

            .small {
                font-size: smaller;
                opacity: 0.7;
            }
        }

        .exf-btn {
            padding: 0.2rem 0.4rem;
            border-radius: 0.3rem;
            outline: none;
            background-color: var(--color-button);
            color: var(--color-button-text);
        }
    }

    nav.main-menu {
        padding: 0;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                border-left-width: 4px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                a {
                    display: block;
                    padding: 1em;
                    margin: 2px;
                    text-decoration: none;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                    transition: all 0.2s;
                }

                &.selected {
                    border-left-color: #c11;
                }
            }
        }
    }

    &.nsp-xs,
    &.nsp-xxs {
        nav.main-menu {
            ul {
                li {
                    //  padding-left: 1rem
                }
            }
        }
    }

    &.theme-light {
        nav.main-menu {
            ul {
                li {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                    }

                    &.selected {
                        border-left-color: #c11;
                    }
                }
            }
        }
    }

    [data-pwa-route="/studio"] {
        [data-pwa-area="panel"] {
            padding: 0;
        }
    }

    .exf-ctl-cnt.full-height {
        margin-top: 0;
        margin-bottom: 0;
        .exf-label {
            display: none;
        }
    }

    .add-field {
        display: block;
        width: 100%;
    }

    .xos-info {
        padding: 1rem;
        overflow: auto;
        white-space: normal;
    }
}

.highlight {
    background-color: var(--color-highlighttext-bg);
    color: var(--color-highlighttext);
    transition: all 0.3s;
}

img.xo-logo {
    margin: 20px;
    max-height: 200px;
    max-width: 200px;
}

html:not([data-pwa-route="/"]) {
    img.xo-logo {
        display: none;
    }
}

.exf-container {
    &.pwa-omnibox {
        .exf-wrapper {
            text-align: center;
        }

        padding-top: 0.5rem;
        fieldset {
            margin: auto;
            border: 0;
            padding: 0;

            .exf-ctl-cnt {
                text-align: left;
                input {
                    padding: 0.6rem 0.9rem;
                    border: 2px solid rgba(0, 0, 0, 0.2);
                    border-radius: 0.5rem;
                    outline: none;

                    &:focus {
                        border-color: rgba(200, 0, 0, 0.4);
                    }
                }
            }
        }
    }
}

.theme-dark {
    .exf-container {
        &.pwa-omnibox {
            border-color: rgba(220, 0, 0, 0.8);

            input{
                background-color: #222!important;
            }
        }

        .exf-ctl-cnt .exf-help-info {
            color:rgba(255, 255, 255, 0.5)
        }
    }

    
    
}

.hidden {
    display: none;
}

.exf-pg-prg {
    color: var(--field-box-shadow-subtle);
}

.btn-reset {
    display: inline-block;
    padding: 0.3em 0.5em 0.3em 0.5em;
    outline: none;
    border-width: 1px;
    border-color: transparent;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);

    &:active {
        box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.4);
        border-width: 0;
        margin-left: 1px;
        margin-top: 1px;
    }
}

.abs-top-right {
    position: absolute;
    top: 10px;
    right: 10px;
}

.nsp-grid.nsp-grid-3rc {
    [data-pwa-area]{
        //overflow-y: auto;
        display: flex;
        flex-flow: column;
        height: 100%;
        flex: 1 1 auto;

    }


    [data-pwa-area="menu"],
    [data-pwa-area="panel"] {
        background-color: var(--color-panel-background);
        

        z-index: 1500;
    }

    [data-pwa-area="menu"] {
        z-index: 1499 !important;

        background-image: url("/img/nv-logo.png");
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: 20% bottom;
    }

    &.nsp-xs,
    &.nsp-xxs {
        [data-pwa-area="menu"] {
            background-image: none;
        }
    }

    [data-pwa-area="headerright"] {
        float: right;

        [data-id="exo-dark-mode"] {
            margin: 5px;

            label {
                span {
                    font-size: small;
                    display: inline-block;
                    margin-right: 1em;
                    float: left;
                }
            }
        }
    }

    &[data-pwa-route="/studio"] {
        [data-id="live-edit-switch-container"] {
            display: none;

            position: absolute;
            z-index: 0;
            top: 40px;
            right: 25px;
        }

        [data-name="renderTabs"] {
            height: 100%;
        }

        form.form-explorer,
        form.field-explorer {
            .exf-nav-cnt {
                display: none !important;
            }
        }

        [data-pwa-area="main"] {
            height: 100%;
            overflow: hidden;

            > .exf-container {
                height: 100%;

                form.form-explorer {
                    height: 100%;
                }
            }
        }

        textarea {
            &.code {
                min-height: 350px;
                padding: 0.5em;
                display: block;
                overflow: scroll !important;
                border: 1px inset;
                height: 100%;
                border: 1px solid #bbb;
                white-space: pre;
                color: #444;
                resize: vertical;
                //background-color: white;
            }
        }

        &:not(.nsp-xs):not(.nsp-xxs) {
            main {
                overflow: hidden;
                height: 100%;
            }

            [data-pwa-area="panel"] {
                z-index: 500 !important;
                height: 100%;
                font-size: 0.8rem;
                //overflow-y: auto;
                padding: 0px 0px 10px 0px;
                //box-shadow: -3px 3px 10px 2px rgba(0, 0, 0, 0.4);

                display: grid;
                grid-template-rows: 50% 1fr;
                gap: 1rem;

                #exo-field-selector {
                    [data-id="schema-editor"] {
                        height: 120px;
                        resize: none;
                        position: absolute !important;
                        bottom: 15px;
                        margin-bottom: 0;
                        margin-top: 0px;

                        textarea {
                            min-height: 50px;
                            height: 120px;
                            margin-top: 1em;
                            box-shadow: -3px 3px 10px 2px rgba(0, 0, 0, 0.4);
                            overflow: auto !important;
                            resize: none;
                        }

                        > label {
                            display: inline-block;
                            background-color: white !important;
                            padding: 3px;
                            top: -3px !important;
                            box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.4);
                        }
                    }

                    .exf-radiobuttonlist.exf-input-group {
                        //height: 100%;
                        //overflow: auto;

                        [data-type="radiobuttonlist"] {
                            //height: 100%;
                            //overflow-y: scroll;
                        }
                    }
                }
            }
        }

        &.nsp-xs,
        &.nsp-xxs {
            [data-pwa-area="panel"] {
                z-index: 1500 !important;
                height: 400px;
                bottom: -365px;
                font-size: 0.8rem;
                &:before {
                    bottom: 381px;
                }

                &:hover {
                    &:before {
                        bottom: 381px;
                    }
                }
                .exf-ctl-cnt {
                    position: relative;
                    margin-bottom: 0em;

                    &.exf-input-group {
                        > div {
                            clear: both;
                            margin: auto;
                            white-space: normal;
                            //overflow-y: auto;

                            > label {
                                display: inline-block;
                                width: 30%;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                padding: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    &.exb-tab-exploreTabs-form {
        [data-id="live-edit-switch"] {
            display: inline-block;
        }
    }
}

.exf-container {
    form {
        width: 100% !important;
    }
}

.nsp-grid.nsp-grid-3rc {
    &.nsp-xs,
    &.nsp-xxs {
        body {
            main {
                [data-pwa-area="main"] {
                    margin-left: 55px;
                }
                [data-pwa-area="menu"] {
                    width: 210px;
                    left: -160px;

                    &:hover {
                        left: -170px;

                        &:not(.clicked) {
                            left: 0px;
                            transition: all 0.5s;
                        }
                    }

                    &.clicked {
                        left: -170px;
                        transition: all 0.1s;
                    }

                    nav.main-menu {
                        a {
                            text-align: right;
                            display: block;
                            padding-right: 10px;

                            .name {
                                display: none;
                            }
                        }
                    }

                    &:hover:not(.clicked) {
                        nav.main-menu {
                            a {
                                text-align: left;

                                .name {
                                    display: inline-block;
                                }
                            }
                        }
                    }

                    &.clicked {
                        nav.main-menu {
                            a {
                                text-align: right;
                                display: block;
                                padding-right: 10px;

                                .name {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        &:not([data-pwa-route="/studio"]) {
            [data-pwa-area="panel"] {
                padding-left: 55px !important;
            }
        }
    }
}

ul.li-tiles {
    li {
        display: inline-block;
        width: 30%;
        margin: 5px;
        padding: 0;
        box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.3);

        > a {
            &:link,
            &:active,
            &:visited {
                color: #333;
            }

            background-color: #e3e3e3;
            padding: 1em;
            display: inline-block;
            width: 100%;
            height: 100%;
            text-decoration: none;

            &:hover {
                background-color: #f3f3f3;
                transition: all 0.2s;
            }
        }
    }

    &.details {
        font-size: 2em;
    }
}

footer {
    text-align: center;
    font-size: smaller;
    padding-top: 0.3em;
    color: var(--color-text);

    a:link {
        text-decoration: none;
    }
}

.hero {
    font-family: Lato, Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;

    h2 {
        font-size: 3em;
        font-weight: 200;
        margin: 0.1em;
        margin-bottom: 0;
    }

    h3 {
        margin-top: 0;
    }
}

#summary {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    text-align: center;

    > img {
        max-width: 800px;
    }
}

img#logo {
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

img.box {
    box-shadow: 2px 1px 10px rgba(255, 255, 255, 0.5);
}

ul.progressive {
    //list-style: none;
    font-size: 1rem;

    li {
        //display: inline-block;
        width: 200px;
        margin-bottom: 5px;
        padding: 10px;
        animation: fadeIn 0.1s linear;
        animation-fill-mode: both;

        margin: 5px 0 15px;
        padding: 0;

        list-style: none;
        position: relative;
        padding: 0 0 0 20px;

        &::before {
            content: "";
            position: absolute;
            left: 2px;
            top: 5px;
            width: 3px;
            height: 6px;
            border: solid #c11;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    $total-items: 16;

    // Set delay per List Item
    @for $i from 1 through $total-items {
        li:nth-child(#{$i}) {
            animation-delay: 0.05s * $i;
        }
    }
}

// Keyframe animation
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        top: 100px;
    }
    75% {
        opacity: 0.5;
        top: 0px;
    }
    100% {
        opacity: 1;
    }
}

.sub-hero {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1em;
    margin-top: 0;
    font-size: 2em;
}

#forkongithub {
    display: none;
}

[data-pwa-route="/"] {
    #forkongithub a {
        background: #000;
        color: #fff;
        text-decoration: none;
        font-family: arial, sans-serif;
        text-align: center;
        font-weight: bold;
        padding: 5px 40px;
        font-size: 1rem;
        line-height: 2rem;
        position: relative;
        transition: 0.5s;
    }
    #forkongithub a:hover {
        background: #c11;
        color: #fff;
    }
    #forkongithub a::before,
    #forkongithub a::after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        top: 1px;
        left: 0;
        height: 1px;
        background: #fff;
    }
    #forkongithub a::after {
        bottom: 1px;
        top: auto;
    }
    @media screen and (min-width: 800px) {
        #forkongithub {
            position: fixed;
            display: block;
            top: 0;
            right: 0;
            width: 200px;
            overflow: hidden;
            height: 200px;
            z-index: 9999;
        }
        #forkongithub a {
            width: 200px;
            position: absolute;
            top: 60px;
            right: -60px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
        }
    }
}

.field-search {
    padding: 15px;

    input {
        padding: 0.35em;
        outline: none;
        border: 1px solid #ccc;
    }
}

ul.meta {
    padding: 10px;
    > li {
        list-style: none;
        margin-bottom: 1em;

        .field {
            cursor: pointer;
            display: block;
            padding: 0.2em 0.5em;
            background-color: var(--color-background-variation);
            border: 1px solid #777;
            border-radius: 0.5em;
            white-space: normal;

            .type-name {
                font-size: 1.1em;
                font-weight: 800;
            }

            .type {
                font-weight: 200;
                color: red;
            }

            .return-type {
                float: right;
            }

            .example {
                position: relative;
                margin-top: 1em;
                border-top: 1px solid #777;
                opacity: 0;
                height: 0;
                overflow: auto;
                transition: all 0.1s ease-out;

                &::after {
                    position: absolute;
                    content: "Copied...";
                    display: none;
                    background-color: var(--color-background);
                    padding: 0.2em;
                    border-radius: 0.2em;
                    color: var(--color-text);
                    top: 2em;
                    left: 45%;
                }

                &.copied {
                    &:hover {
                        opacity: 0.5;
                        transition: all 0.1s ease-out;
                    }

                    &::after {
                        display: block;
                    }
                }
            }

            &.selected {
                .example {
                    opacity: 1;
                    height: 8em;
                    transition: all 0.1s ease-out;
                }
            }

            > ul {
                display: none;
            }

            &.selected {
                > ul {
                    display: block;
                }
            }

            .btn-cnt {
                text-align: center;
                visibility: hidden;

                .exf-btn {
                    cursor: pointer;
                    font-size: 0.9rem;
                }
            }

            &:hover {
                .btn-cnt {
                    visibility: visible;
                }
            }
        }

        ul {
            list-style: none;
        }

        .field-element {
            font-size: smaller;
            font-style: italic;
            color: var(label-color);
        }
        font-weight: bold;

        > div {
            font-weight: normal;
            font-size: small;
        }

        .notes {
            color: var(--label-color);
        }
    }
}

.route-Portal {
    #forkongithub {
        pointer-events: none;
    }

    #forkongithub a {
        background: #000;
        color: #fff;
        text-decoration: none;
        font-family: arial, sans-serif;
        text-align: center;
        font-weight: bold;
        padding: 5px 40px;
        font-size: 1rem;
        line-height: 2rem;
        position: relative;
        transition: 0.5s;
    }
    #forkongithub a:hover {
        background: #c11;
        color: #fff;
    }
    #forkongithub a::before,
    #forkongithub a::after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        top: 1px;
        left: 0;
        height: 1px;
        background: #fff;
    }
    #forkongithub a::after {
        bottom: 1px;
        top: auto;
    }
    @media screen and (min-width: 800px) {
        #forkongithub {
            position: fixed;
            display: block;
            top: 0;
            right: 0;
            width: 200px;
            overflow: hidden;
            height: 200px;
            z-index: 9999;
        }
        #forkongithub a {
            width: 200px;
            position: absolute;
            top: 60px;
            right: -60px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
        }
    }
}
