//@import "normalize";
@import "xo";
//@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400&display=swap');
@import "exf-scrollbar";

:root {
    //font-family: roboto;
    --color-background: #efefef;
    --color-input-text: black;

    &.theme-dark {
        --color-background: #333;
        --color-input-text: #ddd;
    }

    --scrollbar-bg: rgba(0, 0, 0, 0.25);
    --scrollbar-bg-hover: rgba(0, 0, 0, 0.15);
    --scrollbar-bg-active: rgba(0, 0, 0, 0.1);
    --color: #333;
    --color-input-text: #333;
    --color-shade: #ccc;
    --field-box-shadow-subtle: #dedede;
    --color-dropdown-bg: #e1e1e1;
    --color-dropdown-hover: #b6b6b6;
    --color-dropdown-text: rgba(0, 0, 0, 0.8);
    --color-dropdown-border: rgba(0, 0, 0, 0.1);

    --lv-grid-template-xxs: repeat(5, 1fr);
    --lv-grid-template-xxs-areas: ".";

    --lv-grid-template-xs: repeat(5, 1fr);
    --lv-grid-template-xs-areas: ".";
    --lv-grid-template-sm: repeat(5, 1fr);
    --lv-grid-template-sm-areas: ".";
    --lv-grid-template-md: repeat(5, 1fr);
    --lv-grid-template-md-areas: ".";
    --lv-grid-template-lg: repeat(5, 1fr);
    --lv-grid-template-lg-areas: ".";
    --lv-grid-template-xl: repeat(5, 1fr);
    --lv-grid-template-xl-areas: ".";
    --tile-width: 300px;
    --lv-tile-content-areas: ".";
    --lv-grid-border-color: #ccc;
    --lv-grid-border-color: #ccc;
    --lv-grid-header-color: #f9fafb;
    --lv-tile-color: white;
    --color-button-text: white;

    // light theme settings:

    --radius-size: 1rem;

    --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --color-accent: #ce0d0d;
    --color-label: #b10000;
    --color-input-text: black;
    --color-input-background: transparent;
    --color-input-background-focus: #fff;
    --color-placeholder: rgba(0, 0, 0, 0.3);
    --color-input-border: #ccc;
    --input-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    --color-button-border: #b15200;
    --color-button-background: transparent;
    --color-button-background-hover: #fefefe;
    --color-button-shadow: #fa6d1b;
    --color-button-text: #b15200;

    &.theme-dark {
        --color-label: #4fa9ee;
        --color-accent: #309df0;
        --color-input-background: transparent;
        --color-input-background-focus: #2c2c2c;
        --color-placeholder: rgba(255, 255, 255, 0.3);
        --color-input-border: #777;
        --color-input-text: white;
        --input-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
        --color-button-border: #309df0;
        --color-button-background: transparent;
        --color-button-background-hover: #454545;
        --color-button-text: #fff;

        --lv-grid-border-color: #444;
        --lv-grid-border-color: #2a2a2a;
        --lv-grid-header-color: #4a4a4a;
        --lv-tile-color: #3c3c3c;
        --field-box-shadow-subtle: #4a4a4a;
    }

    font-family: var(--font-family);

    --color-input-shade-focus: var(--color-label);
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

html,
body {
    height: 100vh;
    overflow: hidden;
    //font-family: Roboto;
    font-family: 'Nunito Sans', sans-serif;
}

main {
    padding: 1rem;
    overflow: auto;
    margin: auto;
    max-height: 100%;
    width: 100%;
}

#xo-test {
    [data-field-type="listview"] {
        &[data-view="tiles"] {
            article.exf-lv-item {
                .small {
                    font-size: smaller;
                    color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }

    .exf-dlg-c {
        background-color: #ddd;
    }

    .exf-lv-item.empty {
        box-shadow: none;
        background-color: transparent;
    }

    .exf-dlg {
        .exf-container.exf-theme-material {
            form {
                box-shadow: none;
            }
        }
    }
}

body {
    display: grid;
    grid-template-rows: 50px 1fr 30px;

    color: var(--color-input-text);
    background-color: var(--color-background);
    margin: 0;
    padding: 0;

    header {
        background-color: rgba(0, 0, 0, 0.15);
    }

    footer {
        background-color: rgba(0, 0, 0, 0.15);
        text-align: center;
        font-size: smaller;
        padding-top: 5px;
    }
}

#xo-test {
    &.nsp-grid.nsp-grid-3rc,
    &.nsp-grid.nsp-grid-3r {
        body {
            grid-template-rows: minmax(4vh, 60px) 1fr 30px;
        }
    }

    .md-converted-html {
        max-width: 90%;

        table {
            border: 1px solid #999;

            thead {
                text-align: left;
            }
        }

        img {
            width: 90%;
            max-width: 900px;
        }

        code {
            font-size: 1rem;
            font-family: Consolas, "Courier New", Courier, monospace;
        }

        blockquote {
            border-left: 10px solid #c04e58;
            padding: 0.5rem;
        }
    }

    .products-mock {
        > div {
            margin-top: 1rem;
            display: grid;
            grid-template-columns: 1fr 60px;

            small {
                color: rgba(0, 0, 0, 0.5);
            }

            &.selected {
                background-color: yellow;
            }
        }
    }

    main {
        .exf-container {
            overflow-y: auto;
            min-height: 500px;
            padding: 2rem;

            .nsp-xxs & {
                padding: 1rem;
            }
        }

        width: 100%;

        //&.exf-theme-material {
        // margin-top: 2rem;

        // .exf-wrapper > fieldset {
        //     height: 70vh;
        //     overflow-y: auto;
        // }

        form {
            width: 60%;
            max-width: 900px;
            min-width: 400px;
            min-height: 500px;
            overflow: auto;
            margin: auto;
            box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.15);
            border-radius: 1em;
            padding: 1em;
        }
    }

    &.nsp-xxs {
        main {
            form {
                box-shadow: none;
                width: 100%;
                max-width: unset;
                overflow: auto;
                margin: auto;
            }
        }
    }

    .exf-container {
        .isvcanvas {
            .exf-ctl-cnt > .exf-ctl > .exf-label:not(:empty) {
                white-space: normal;
            }
        }

        &.pwa-omnibox {
            .exf-wrapper {
                text-align: center;
            }

            padding-top: 0.5rem;

            fieldset {
                margin: auto;
                border: 0;
                padding: 0;

                .exf-ctl-cnt {
                    text-align: left;

                    input {
                        padding: 0.6rem 0.9rem;
                        border: 2px solid rgba(0, 0, 0, 0.2);
                        border-radius: 0.5rem;
                        outline: none;

                        &:focus {
                            border-color: rgba(200, 0, 0, 0.4);
                        }
                    }
                }
            }
        }

        .compact.exf-ctl-cnt {
            padding: 0 !important;
            margin: 0 !important;

            .exf-ctl-group {
                padding: 0 !important;
                margin: 0 !important;
                padding-top: 1rem !important;
            }
        }
    }
}

// [data-pwa-area="menu"] {
//     background-color: #eee;
// }

nav.main-menu {
    padding: 0;

    ul {
        margin: 0;
        list-style: none;

        li {
            margin: 0 0 2px 0;
            padding: 0;
            border: 1px solid #ccc;
            background-color: #eee;
            transition: all 0.2s;

            a {
                display: block;
                padding: 1em;
                margin: 2px;
                text-decoration: none;

                &:link,
                &:visited,
                &:active {
                    color: #666;
                }
            }

            &:hover {
                background-color: #fefefe;
                transition: all 0.2s;
            }

            &.selected {
                background-color: #fdd;
            }
        }
    }
}

.exf-btn {
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    outline: none;
    background-color: var(--color-button);
    color: var(--color-button-text);
}

.exf-dlg {
    .exf-dlg-f {
        .exf-btn {
            font-size: 1.1rem;
            outline: none;
            padding: 0.4rem 0.8rem;
            border: none;
        }
    }
}
